[2017-11-16 22:25] swcurran opened #1 "The use of this library for survey's with dynamic sections?"
We have a need for an app that contains a survey, but the requirements of the survey are such that the sections of the survey are repeated multiple times.  For example:

Q: How many people are involved?  <Number> (Answer: 2)

For person 1:

- Q: What is there name?
- Q: What is there age?

For person 2:

- Q: What is there name?
- Q: What is there age?

There would also need to be a way to access

[2017-11-17 11:05] Pierre-Sassoulas commented on #1
I don't think I understood your example really well.

Do you want to have the same questions multiple time ? If so then you can copy paste the question and the possibles answer choices in another question. I could create defined answers that you can choose from, in 1 to 4 hours but it has always been easier to just copy paste the possibles answers and it would possibly make the creation of questio

[2017-11-17 13:55] clercmedia opened #2 "Missing djangocms-rosetta in libs."
I had this issue when trying to migrate the application.

ModuleNotFoundError: No module named 'rosetta.urls'

installed djangocms-rosetta :  pip install djangocms-rosetta fixed the issue.
Maybe it will be great to add it to your dependencies ?

A+

[2017-11-17 16:26] Pierre-Sassoulas commented on #2
Hello and thank you for the report,

This is probably due to the default setting file that has rosetta in its installed apps. Rosetta should be a dev requirement only and should not be required to run survey.

How did you get the app (from pipy, by direct download, other...) ?, And what setting file are you using (default one, added survey in installed apps, other...) ? I'm asking in order to see

[2017-11-17 18:16] clercmedia commented on #2
Good questions , I toke it from the git repository and follow the install
procedure ?
Nothing modified so I should guess it's the default settings file ?

Christian Leclerc, CSSLP, OCMJEA, OCPJBCD, SCJP, ZCE
christian.leclerc@sphere3solutions.com

Sphere 3 Solutions inc.
No. d'entreprise: 842171969
2801, Boul. Des Promenades,C.P. 11016
Ste-Marthe-sur-le-Lac, Québec,J0N 1P0
Tél.: 514-940-1067
http:

[2017-11-17 18:30] Pierre-Sassoulas commented on #2
Yes, you're probably using the default settings file. You can remove "rosetta" in installed_apps line 107. It is useful only for a developer that need to redo the translation.

I will try to make the documentation clearer for future user, and remove this one from master.

Thanks again for reporting the problem.

[2017-11-17 18:48] swcurran commented on #1
Thanks for the response!  The key feature we are looking for is a section of questions that are repeated based on the answer to a previous numerical question.  So in my example, the question:

Q: How many people are involved?

The answer could be 1, 10, 1000, and the following two questions (an arbitrary section of questions) would be asked 1, 10 or 1000 times based on the answer.

Basically, we w

[2017-11-17 19:31] clercmedia commented on #2
No problem :)

Christian Leclerc, CSSLP, OCMJEA, OCPJBCD, SCJP, ZCE
christian.leclerc@sphere3solutions.com

Sphere 3 Solutions inc.
No. d'entreprise: 842171969
2801, Boul. Des Promenades,C.P. 11016
Ste-Marthe-sur-le-Lac, Québec,J0N 1P0
Tél.: 514-940-1067
http://www.sphere3solutions.com

*CONFIDENTIALITÉ* L'information apparaissant dans ce message électronique
est de nature légalement privilégiée e

[2017-11-20 13:33] Pierre-Sassoulas commented on #1
Would'nt it be more convenient to use google sheets, excel, or similar, like this ?
![sheets](https://user-images.githubusercontent.com/5493666/33020511-f447f36a-cdfe-11e7-8571-7190b3da07f6.png)

[2017-11-20 13:56] clercmedia commented on #2
Hello Pierre, I have another issue, I can't make the survey to work ...
Every-time I answer a question, it keeps me on the same question over and
over again ?

Any clues ?

Christian Leclerc, CSSLP, OCMJEA, OCPJBCD, SCJP, ZCE
christian.leclerc@sphere3solutions.com

Sphere 3 Solutions inc.
No. d'entreprise: 842171969
2801, Boul. Des Promenades,C.P. 11016
Ste-Marthe-sur-le-Lac, Québec,J0N 1P0
Tél.:

[2017-11-20 14:16] Pierre-Sassoulas opened #3 "Only single page survey are working reliably"
Because my survey used a single page for everything the other options are not guaranteed to work.

Some possible option to check and/or add in Survey would be :
- Creating formular by category whatever the number of question inside them is
- Creating formular with a Paginator (always the same number of question by page) whatever the categories of the question are
- Creating formular with a single

[2017-11-20 14:39] clercmedia commented on #3
Thanks !! It's one item per page, it's probably the problem .

[2017-11-20 17:06] #2 closed

[2017-11-21 20:53] swcurran commented on #1
No, google forms/docs won't work.  We're building an web app (specifically for a Government Service to Citizens), and Google Forms does not support the feature I've described.

[2018-02-15 11:59] rtucker-scs opened #4 "Reusable App"
Is there anyway to use this as part of an existing django project?

[2018-02-15 12:23] Pierre-Sassoulas commented on #4
Its the intended use. You can use pip install to add "django-survey-and-report" in your requirement, or copy the survey directory into your existing django project. Then just add "survey" to the app list in your existing project settings.

[2018-02-15 12:53] rtucker-scs commented on #4
I dug deeper into the error I was getting. Not an issue with the app being reusable as much as the app isn't compatible with pluggable user model. I'll patch and send a PR

[2018-02-15 12:57] rtucker-scs opened #5 "Implement pluggable user model"
Implement pluggable user model

[2018-02-15 12:57] #4 closed

[2018-02-15 13:29] rtucker-scs opened #7 "Investigate pluggable user module for csv export"
Are you using the csv export ? Because it could probably be interesting to add some fields from your custom users in Survey2Csv.get_user_line().

[2018-02-15 13:29] rtucker-scs commented on #7
I haven't used the CSV export yet but I'll take a look at this at some point.

[2018-03-06 06:24] junaidmalik09 opened #8 "Is there a dedicated login page for non-staff users?"

[2018-03-06 07:26] Pierre-Sassoulas commented on #8
Not as of now. The assumption here is that you're adding the survey app to an existing project with an already implemented login. You can also use it without authentication.

Its possible to add a login for the dev version that would permit to use django-survey as a standalone project with authentication, but I always used the admin auth in development so far.

[2018-03-24 08:29] #8 closed

[2018-04-01 10:57] Pierre-Sassoulas opened #9 "Add language for internationalisation"
As of now, we have only english and french available. If you're susceptible of using django-survey in another language, making and giving back the translation with a pull request would be very helpful.

See : https://stackoverflow.com/questions/12946830/

[2018-04-04 06:41] nsuzue commented on #9
Can I help internationalization? I am Japanese, learning about web development using Django.

[2018-04-04 10:57] Pierre-Sassoulas commented on #9
Yes, that would be very kind of you indeed.

Do not hesitate to ask questions if something is not clear in the english
text of the application,  to launch rosetta, to create a fork, a pull
request or any kind of problem you encounter really. I'd be happy to help
you get started.

Le Mer 4 Avr 2018 15:41, Nobukuni Suzue <notifications@github.com> a écrit :

[2018-04-16 08:46] Pierre-Sassoulas opened #11 "Select tag not displayed properly"
Fix could be in survey/templates/survey/question.html displaying form directly instead of itering on field.

It's also possible to use bootstrap-form directly to render form.

[2018-04-18 19:50] Pierre-Sassoulas commented on #11
@nsuzue this app render form really well for most case : https://github.com/tzangms/django-bootstrap-form

[2018-04-19 07:18] Pierre-Sassoulas opened #12 "Some tests fail under Windows"
Most of the feature works, but the application isn't really cross-platform.

[2018-06-05 20:13] lecovi opened #13 "Wrong settings with Pip 10.0"
In pip 10.x `colorama` isn't located at `from pip.utils.logging import colorama` this should be changed to `from pip._vendor import colorama`

[2018-06-05 20:22] Pierre-Sassoulas commented on #13
Hi, thank you for the report. This was a dirty hack and I should probably had the dependency in my own dependency list :)

[2018-06-05 20:34] #13 closed

[2018-06-07 03:18] ferduz opened #14 "More than an issue it's a question"
After ends a survey I want to have completed.html messages instead confirm.html, like

Sorry! Your already replied to our survey
--
Where can I set that?
Sorry me, I'm newbie with django

[2018-06-07 11:08] ferduz commented on #14
Grand Merci!

2018-06-07 3:25 GMT-03:00 Pierre Sassoulas <notifications@github.com>:

[2018-09-10 16:15] litobro opened #15 "@models.permalink no longer supported"
In survey/models @models.permalink has been deprecated since Django 1.11. It was recommended to be changed to a reverse call inside of the function instead. In Django 2.1, the decorator simply fails.

[2018-09-10 16:21] litobro opened #16 "Models foreign keys all missing positional argument on_delete"
On all of the foreign keys in the models, the positional argument on_delete which is required in newer versions of django are missing.

[2018-09-10 16:27] litobro opened #17 "Django 2 removes django.core.urlresolvers"
All imports of `django.core.urlresolvers` should be changed to `django.urls`

[2018-09-10 21:10] Pierre-Sassoulas opened #18 "Transition to Django 2.0 and supporting only python 3+"
The Django 1.11.x series is the last to support Python 2.7. We tried to support both python 2.7 and python 3+ until then. We now need to be able to run django 2.0 and we can't keep the compatibility. In order to have a compatible version for both python version we need two branchs.

For example, here, everything has only one purpose : compatibility with python 2.7.  :

[code]

There will also be s

[2018-09-10 21:26] Pierre-Sassoulas commented on #15
Thank you for this issue as well as #16 and #17. Right now we don't handle django 2.0. because I delayed the transition to python 3 and django 2.0 for some time. I need to do some work before being able to handle django 2.0 properly, see #18. I'm planning to do the transition properly, but it might takes some time. If you want to fix the project so it handle django 2.0 right now without bothering

[2018-09-14 21:31] #15 closed

[2018-09-16 19:46] Pierre-Sassoulas commented on #17
Fixed by https://github.com/Pierre-Sassoulas/django-survey/commit/e58b3877ab51f64f00ab2ad6f635446cac4c9037

[2018-09-16 19:46] #17 closed

[2018-09-16 19:46] Pierre-Sassoulas commented on #16
Fixed by https://github.com/Pierre-Sassoulas/django-survey/commit/e58b3877ab51f64f00ab2ad6f635446cac4c9037

[2018-09-16 19:46] #16 closed

[2018-09-16 19:47] Pierre-Sassoulas commented on #15
Fixed by https://github.com/Pierre-Sassoulas/django-survey/commit/e58b3877ab51f64f00ab2ad6f635446cac4c9037

[2018-09-16 19:56] #18 closed

[2018-10-30 13:24] gnalbandian opened #19 "Enhancement: Static Folder structure"
Hi,
I believe it would  be a better practice to have the static folder reorganized adding a "survey" folder before the js, jss, and fonts folder.

- static
-- survey
---- js
---- css
---- fonts

In this way, we can do a python3 manage.py collectstatic and every app we have installed in our projectwill have its own static files without mixing them between.

[2018-10-30 19:10] #19 closed

[2018-10-30 19:13] Pierre-Sassoulas commented on #19
Thank you for noticing and reporting that. I'm going to release 1.3.2 on pypi for python 3 in order to fix this problem and add spanish language.

[2018-10-30 19:51] gnalbandian commented on #19
Great! Good to know.

[2018-10-30 20:58] Pierre-Sassoulas opened #21 "Not a pluggable app in django 2.1"
This app was initially used with an old django version by copying the directory to the other project. Being a fully plugable app using the last django version would be very useful in order to be more easily usable.

[2018-10-30 21:07] gnalbandian commented on #21
@Pierre-Sassoulas here I leave you an example from python-social-auth [https://github.com/python-social-auth/social-app-django/tree/master/social_django](url)

[code]

This settings are called from __init__.py.

I am not sure if that is the best way from what I have read at the documentation but, its a starting point

[2018-10-30 21:10] Pierre-Sassoulas commented on #5
Closing because it's related to #21 and because there was only one user class imported in the app, so there is nothing left to do regarding this.

[2018-10-30 21:10] #5 closed

[2018-10-30 22:28] Pierre-Sassoulas commented on #21
Thanks for the example and the documentation. It seems pretty straightforward. But I need to add some integration test in order to check that the installation is working. Right now I'm using [this subproject](https://github.com/Pierre-Sassoulas/django-survey/tree/master/example_project) but it's becoming time consuming.

[2018-10-31 13:28] gnalbandian commented on #21
Hi @Pierre-Sassoulas , Here I found another good piece of documentation for writing plugable apps.
Hope it helps, seems straight forward.
https://docs.djangoproject.com/en/2.1/intro/reusable-apps/

[2018-12-01 14:38] zzzzzzzzzzzzz opened #23 "Incorrect rendering of radio values with unicode symbols"
Hello there!
I recognized that if I try to use unicode choices like ["Женщина", "Мужчина"] then in template I get `<input value="">`, hence it's not possible to send form because every time you'll get "the value '' is not within possible values".

The reason is in Question model.
[code]
slugify is standard django function which has this implementation:
[code]

As you can see, by default slugify wi

[2018-12-02 19:56] Pierre-Sassoulas commented on #23
Hi @zzzzzzzzzzzzz, great catch and thank you for the retro-engineering and very detailed report.

I think you found a bug as we should always allow unicode in slugify, I don't see any reasons not to, so no need to add a constant in the settings.

I don't have a lot of time right now for django-survey. Could you make a pull request with allow_unicode added, and add tests for russian characters ?  T

[2018-12-10 10:27] Pierre-Sassoulas opened #25 "Document the modification of the json dump of the test database"
Thanks to @digglife for the report.  I was dumping a lot of json at some point so I had something to copy paste ready at all time, but it does not seem to be documented anywhere.

[2018-12-11 19:41] Pierre-Sassoulas commented on #25
Fixed by https://github.com/Pierre-Sassoulas/django-survey/commit/079843df534dff7c343a068cf55ab626c1c3c991

[2018-12-11 19:41] #25 closed

[2018-12-12 07:30] Pierre-Sassoulas commented on #23
Should be fixed by #24

[2018-12-12 07:30] #23 closed

[2018-12-12 07:52] Pierre-Sassoulas opened #26 "LaTeX export does not render chinese unicode characters properly"
May be due to a bad header in the configuration file for the chinese LaTeX generation.

[2018-12-12 20:19] #26 closed

[2019-01-13 15:55] gurungrahul2 commented on #9
@Pierre-Sassoulas i want to take this, which languages should I start with ?

[2019-01-13 17:52] Pierre-Sassoulas commented on #9
Hi @gurungrahul2,

Thank you for your interest in this project. Right now we already have english, japanese, spanish and french. Apart from those, pick the language you are the most comfortable with, or the language in which you are the more likely to use this application yourself :)

[2019-01-30 15:37] b3tyar commented on #9
Hi Pierre,
Would you be interested in supporting Hungarian locale? I can give it a go, if it is on interest.

Cheers,
Peter

[2019-01-30 16:31] Pierre-Sassoulas commented on #9
Sure @b3tyar, it would be great ! Feel free to ask questions if you need more info to get started.

[2019-02-14 11:07] Gilbishkosma opened #27 "settings.ROOT must be defined for pdf/csv export and there is no clear error message when it is not"
Hii,i m giving the path of survey in ROOT under settings.py but it takes different path for both csv and pdf. and i can't get how to write correct ROOT for both and for tex also.

[2019-02-14 11:25] Pierre-Sassoulas commented on #27
Hello, thank you for using django-survey and thank you for your report.

If you changed the default path you might have to create a `tex`or a `csv`directory in your new path directory.

If this is not working, can you give your error message ?

[2019-02-14 11:43] Gilbishkosma commented on #27
The Real error is "Settings" object has no attribute 'ROOT'.

[2019-02-14 11:44] Gilbishkosma commented on #27
I am trying to write the path of csv and tex in ROOT on my own. But it ain't working, what should i write in ROOT?

[2019-02-14 12:34] Pierre-Sassoulas commented on #27
You found a bug, I'll make some change so it does not happen again when I can find the time.

In the meantime, add the following line in your `settings.py` :

[code]

If your `settings.py` is at the same level than the `csv` and `tex`directory, it will works. You might want to define the path another way for example if your settings is in `settings/settings.py` :

`ROOT = os.path.join(os.path.dirn

[2019-02-14 18:05] Gilbishkosma commented on #27
Thanks Pierre-Sassoulas. The second method worked for me

[2019-02-15 07:11] developer11092 opened #28 "Logged users can't answer a survey more than one time"
So, this basically is not a bug but i would like my users to answer the questionnaire more than once!!
How can that be done? As when a user logs in and answer the survey it is stored with a unique key, but when the same user come back to take the same survey the previous data come on the form and when he submits it it is updated in the database!! I want the user to reply to the survey again and it

[2019-02-15 07:40] Pierre-Sassoulas commented on #28
Hi,

Without modifying the code you can disable logins (uncheck "need logged user" in your survey admin) and add a question to identify  the user. Not ideal but it can work if you trust your users.

A better solution would be to add a selector that would permit to create another "Response" (the name of class in the code) in interface (in templates/survey.html), and then permit to choose from your

[2019-02-15 07:45] developer11092 commented on #28
Sure I'd open up a new issue for the problem of generating the csv or pdf! but my point here is I want a survey that only logged in user can answer to with them being able to answer multiple times!

Can that be done?

[2019-02-15 07:45] developer11092 opened #29 "problem with generating csv or pdf"

[2019-02-15 07:46] Pierre-Sassoulas commented on #28
Yes, but not without modifying the code, see 2nd paragraph of my first answer :)

[2019-02-15 07:46] developer11092 commented on #29
there are some issues with the exporting commands it seems like the commands are working in the cmd but it does not actually provide a generated file for either csv, pdf or any other form!

[2019-02-15 07:52] developer11092 commented on #28
Then that's what i want to do!! I am actually new at django/python so can you help me out with the code i'll be uploading my code and will share you the link!

I need to assign survey to companies that i created! and only the user that is linked with the company may reply the the surveys multiple times,, other then that no other user can view the survey that is assigned to a different company!!!

[2019-02-15 07:56] Pierre-Sassoulas commented on #28
Thanks, it seems it would be a great addition to the software. You may want to add an option In the Survey Model (allow multiple answers from the same user) so we can have both requirements working.

If you have questions (especially about design and architecture) do not hesitate to ask, I may not reply that fast every-time but I'll try to answer everything.

[2019-02-15 07:58] Pierre-Sassoulas commented on #29
Can you provide the output of the `exportresult` command ?

[2019-02-15 07:59] developer11092 commented on #28
https://github.com/developer11092/django-survey

Here's my repo run it and you may find the difference!

Thanks again

[2019-02-15 08:08] developer11092 commented on #29
(env) D:\Programs\Extracted\django-survey>python manage.py exportresult --survey-all --pdf
matplotlib.wrapper() l.415 - $HOME=C:\Users\NerveDigitals
matplotlib.wrapper() l.415 - CONFIGDIR=C:\Users\NerveDigitals\.matplotlib
matplotlib.wrapper() l.415 - matplotlib data path: D:\Programs\Extracted\django-survey\env\lib\site-packages\matplotlib\mpl-data
matplotlib.rc_params_from_file() l.1093 - loaded

[2019-02-15 08:13] developer11092 commented on #29
Sorry about this issue!
it seems that i was not using a correct command up until now, IT WORKS!!!!

Thanks again!

(env) D:\Programs\Extracted\django-survey>python manage.py exportresult --survey-all --csv --force
matplotlib.wrapper() l.415 - $HOME=C:\Users\NerveDigitals
matplotlib.wrapper() l.415 - CONFIGDIR=C:\Users\NerveDigitals\.matplotlib
matplotlib.wrapper() l.415 - matplotlib data path: D:\

[2019-02-15 08:13] #29 closed

[2019-02-15 08:41] Pierre-Sassoulas commented on #28
It seems you created a whole new repository. Could you fork my repository and make a commit with your modifications ? It would be a lot easier that way because github would show exactly the change made.

[2019-02-15 08:43] Pierre-Sassoulas commented on #29
Nice, I always like when there is in fact no problem :)

[2019-02-15 08:46] developer11092 commented on #28
Sorry didn't thought of that before, anyway when you will run my code you will know exactly the changes!
there are som in models.py and others in the settings.py probably,, and yes have changed the css from bootstrap 3 to 4

[2019-02-15 09:15] developer11092 commented on #28
Have a look at my code i think by changing the form.py file a little I was able to achieve my goal!

Is it okay what i have done?
Have a look!

[2019-02-15 10:19] developer11092 opened #30 "Image upload Error"
This is one error

Above came in the cmd

`AttributeError at /survey/3/
'ImageSelectWidget' object has no attribute 'template_name'`

this one was shown on the browser

And can we have multiple image choices in the survey question? And can I have a part where i can show a video in the survey either by a link or by having it on my server machine!

[2019-02-15 11:03] Pierre-Sassoulas commented on #30
I did not use image or video in my survey so it's still in the state it was originally. You could check @mental689 repository, he seem to have some commit related to videos : https://github.com/mental689/django-survey/network

[2019-02-16 07:05] developer11092 commented on #30
What do we add in the template part in the add survey in admin site!

[2019-02-18 10:05] developer11092 commented on #30
Not a error but just to know what is the template field in the survey model represents? And how is it connected to the image field? When uploading image do we need to add this "survey/forms/image_select.html"

in the template field?

[2019-02-18 11:02] Pierre-Sassoulas commented on #30
I think it was supposed to be a way to personalize the template for a field. Never used personally it could probably better documented. I reopen the bug as the problem with image was not fixed.

[2019-02-18 11:05] Pierre-Sassoulas commented on #28
I'll look at changes if they are made from a fork and I can see commits directly. I don't have time to launch the software and compare output.

The way to do this is to fork django-survey, clone it locally, copy paste your repository in the django-survey directory and to create a commit from those changes.

Reopening because the feature is still needed exists.

[2019-02-21 21:25] Pierre-Sassoulas commented on #23
@digglife sorry for the wait, I did not realise I had to confirm the PR on IssueHunt so you get the reward.

[2019-02-25 13:02] chaudharyS opened #31 "The user is able to take the survey even when Survey.is_published is False"
Hi,
I am fairly new to Django and I could not understand a few things

In the file **survey.py** what is the use of the fields:
**is_published** The user is able to take the survey and submit response even if the survey has not been published
**display_by_question**  Keeps iterating over the required questions. Response doesn't get submitted and
**template**  Throws an exception "TemplateDoesNotEx

[2019-02-26 05:14] digglife commented on #23
@Pierre-Sassoulas I almost forgot about it.:)  It's OK. Thanks for confirming!

[2019-02-26 09:25] Pierre-Sassoulas commented on #31
**is_published** and **display_by_question** are probably buggy. Unsure about **template**, maybe it would work if the template existed. I did not use those options, they were there before I took the project and are still untested. I used a single page survey so this is what is guaranteed to work.

[2019-02-26 10:39] chaudharyS commented on #31
Got it. Thank you for your response.

[2019-02-26 22:40] Pierre-Sassoulas opened #33 "**template** Throws an exception "TemplateDoesNotExist""
When using the template option in a survey, it's hard to know what can be entered, and you can get an error.

[2019-02-26 22:40] Pierre-Sassoulas commented on #33
Created from #31

[2019-02-26 22:43] Pierre-Sassoulas commented on #3
This problem was noticed again and reported by @chaudharyS in #31

[2019-02-26 22:45] Pierre-Sassoulas commented on #31
I renamed this issues to cover **is_published**, **display_by_question** was handled in #3 and I opened #33 to cover the problem with **template**. Feel free to make a pull request if you have a solution for any of those :)

[2019-03-01 10:58] Madhoumithaa-Veerasethu opened #34 "Add an option to prevent user from modifying their response"
1. Can we restrict the number of responses that we get from a user?
According to my understanding, right now a user can edit and submit the form n number of times and the last response gets recorded.
Instead is there a way to disable the survey in list.html page for a survey as soon as it is submitted?

2. Is there a provision to deactivate the survey after n number of days?

[2019-03-01 11:10] Pierre-Sassoulas commented on #34
1. would be a new feature (addding it as an option for Survey). I will change the title of this issue to track this feature request.
2. would be possible manually if you unpublish the Survey but according to what someone said in #31 it's buggy right now. Doing so automatically after n days would be a new feature, could you open another issue if that is what you want ?

I welcome pull requests and

[2019-03-01 12:22] Madhoumithaa-Veerasethu commented on #34
Okay. Thank you!

[2019-03-01 12:32] Madhoumithaa-Veerasethu opened #35 "Provision to disable the survey link after n number of days or make survey inactive?"
Is there a provision to deactivate the survey link after n number of days? Or make it inactive?
There is a option to make the users inactive in the admin portal. Is there a similar option for making it inactive?

[2019-03-01 12:54] Pierre-Sassoulas commented on #35
Thanks you for creating a new issue, so we can distinguish this feature from the other one. As I said this is not possible yet but it would be doable by adding an option for the Survey.

[2019-03-26 20:02] apurvis commented on #9
question: i've been perusing the codebase, and it seems like you can only run a survey in one language at a time?

what if you wanted to have a survey that operated in multiple languages depending on the user's locale.  is that possible?  i can't immediately tell from looking at the code base.

[2019-03-26 20:43] Pierre-Sassoulas commented on #9
@apurvis The interface itself can be changed by the user, the content of the survey's question is set in a particular language. We'd need to have multiple values in database (one for each language) if we wanted to also change the survey's question and answer language. this is not trivial, see https://code.djangoproject.com/wiki/ModelInterNationalization.

An easier solution (that don't scale that

[2019-03-27 05:04] 1000camels commented on #11
I am using the version installed via pip and my select fields are not rendering correctly. Specifically, the <select> elements are not in the markup. Is this the same bug?

[2019-03-27 06:59] Pierre-Sassoulas commented on #11
It seems like it. If you want to fix this, feel free to make a pull request. It should be simple with `django-bootstrap-form`.

[2019-03-28 12:50] developer11092 opened #36 "No logic implementation!"
The survey that my project creates are simple questions, but I want to add constraints in a sense that when a question A (Are you married?) is asked with options 'married', 'unmarried'. If the answer for question A is 'married' then I should get question B(How many kids do you have?) or if the answer is 'unmarried' then I should not get question B and get question C('any other question'). Now the

[2019-03-28 13:23] Pierre-Sassoulas commented on #36
This would be a great features thank you for reporting.

[2019-03-29 10:03] JTRemeijn opened #37 "Possibility for vertical checkbox/radio button display"
It would be nice to have a convenient way of choosing if you want to display question choices horizontally or vertically. Possible implementations:
- For a simple yes/no/maybe question you may want to render the buttons horizontally
- For a longer list of choices, horizontal display becomes very messy and a vertical display is preferred

I've tried to get this working with the package, but no suce

[2019-04-01 00:01] 1000camels opened #38 "Aggregating results"
I appreciate this might be out of scope, but I thought I would ask here first.

I am trying to build an admin summary of the results, grouping ChoiceFields by their answer. I've been having some trouble getting the csv, tex and pdf reports working, so I am unable to sort out how this data is aggregated or whether it is.

Has anyone developed a way to display a count of the answers for each questio

[2019-04-01 06:28] Pierre-Sassoulas commented on #38
Well the csv or pdf report export is what you need from a user perspective. They're supposed to work, in particular the csv exporter do not have dependencies. Did you launch `python manage.py exportresult -h` ?

If it does not works, you can get a dictionary using `python manage.py shell` then the following code:

[code]

You could also create your own Survey2X exporter with blackjack and hookers.

[2019-04-01 06:29] Pierre-Sassoulas commented on #38
Reopened because if its a bug or lack of documentation with export we should fix it.

[2019-04-02 00:51] 1000camels commented on #38
There is definitely some confusion on my part. Perhaps I do not understand the process behind creating the PDF.

[2019-04-02 06:19] Pierre-Sassoulas commented on #38
In order to generate the pdf you need `LaTeX` installed and also `python-3-tk`. You then can generate it, with `python manage.py exportresult -h`. Please see the full documentation here if you want to personalize it : https://github.com/Pierre-Sassoulas/django-survey#generating-a-pdf-report-from-the-surveys-result.

Let me know if something does'nt work or is'nt clear in the documentation.

[2019-04-23 07:50] #12 closed

[2019-04-23 07:55] #38 closed

[2019-05-16 13:52] vflanker commented on #27
@Gilbishkosma @Pierre-Sassoulas I got the same error too. But I could not simply set ROOT to os.path.dirname(os.path.abspath(__file__)) cause it won't work. I set ROOT to "'D:\Python36\Lib\site-packages" but there is not tex folder, and it brings me another error:OSError: Must fix D:\Python36\Lib\site-packages\tex in order to generate tex : [Errno 2] No such file or directory: 'D:\\Python36\\Lib\\

[2019-05-16 13:59] Pierre-Sassoulas commented on #27
@vflanker the "tex" directory should be created if you're not using the default one. It's not related to the tex package, it's something specific to django-survey that I should probably have named "django_survey_tex_output" .

[2019-06-12 07:30] contaval opened #41 "'Settings' object has no attribute 'CHOICES_SEPARATOR'"
Hello guys!

I'd like to say first of all that I'm quite new to Django.

I created a Django Project with pyCharm and installed this package using "pipenv install --pre django-survey-and-report". Everything seems to go fine. I add the app to INSTALLED_APPS just like you say in your documentation but then, when I create a survey, I get the error:

Request Method: | POST
-- | --
http://127.0.0.1:8000

[2019-06-12 07:42] Pierre-Sassoulas commented on #41
Hello, thank you for using django-survey and for this bug report. This is probably due to the last change on the master branch that permit to choose the separator. The intent was to have a default value, but as evidenced by your experimental data, it does not work. You can fix this bug by adding the following in your `settings.py` :

[code]

[2019-06-12 07:55] contaval commented on #41
Hello Pierre!

First of all, I'd like to thank you for your help. I was able to solve it by adding that code. I saw that you were doing some changes regarding to the CHOICES_SEPARATOR and I was not sure if it was a bug.

I was able to add a survey, however, when I click on "View on site" I get another error:
Request Method: | GET
http://127.0.0.1:8000/survey/2/
survey.views.survey_detail.SurveyDet

[2019-06-12 08:13] contaval commented on #41
ello Pierre!

First of all, I'd like to thank you for your help. I was able to solve it by adding that code. I saw that you were doing some changes regarding to the CHOICES_SEPARATOR and I was not sure if it was a bug.

Thank you again!

[2019-07-07 18:54] guam68 commented on #31
I looked into this issue and could not seem to duplicate the problem.

When toggling the option through the admin panel, the test survey link is unavailable after logging out. A user is also unable to access the survey through the url.

If there is a known way to duplicate, please let me know.

[2019-07-08 20:45] Pierre-Sassoulas commented on #31
Thank you @guam68  for looking into this. It might be already working. To be fair, I think I made an automated test for that. @guam68 could you please check that [the following automated test](https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/tests/views/test_survey_result.py#L10) is checking the two states correctly? And if you think this miss a use case could you add another o

[2019-07-16 06:43] Pierre-Sassoulas commented on #31
Fixed by #43

[2019-07-16 06:43] #31 closed

[2019-07-17 08:51] lokesh1729 commented on #3
@Pierre-Sassoulas i would like to contribute to this... can you update the status on this issue??

[2019-07-17 09:11] Pierre-Sassoulas commented on #3
Hi @lokesh1729, thank you for your interest in the project. This is still an ongoing issue, and the description given in the first post is still accurate. Also, it's a big one for usability, so I'd be very thankful if you can manage to handle it :)

[2019-07-17 09:15] lokesh1729 commented on #3
@Pierre-Sassoulas sure... I will work on it :)

[2019-07-24 01:31] TaoZhang5023 opened #44 "Customize url for survey and redirect url after finishing survey?"
Hi,

I'm a new user of django-survey. I want to embed a survey on my website and when users finish the survey I want to redirect them to some other page. I wonder is it possible to customize the url for a survey and the redirect url after finishing one survey?

Thanks!

[2019-09-18 10:07] florianmouchantaf opened #47 "Select widget problem"
Hi,

I'm a new user of django-survey. I encountered a problem in displaying a question type select . As i understood, the form.select widget would make the html code  but in my case the html code of a question type select in the form doesn't contain <select> tag, so it dipslay the choices as options without a dropdown list.  I can't seem to resolve the problem.

Thanks for the help !

[2019-09-19 13:00] Pierre-Sassoulas commented on #47
I think it's a duplicate of #11. Sorry, I don't have a lot of time for this project right now except for low effort maintenance. if you want to fix the problem yourself, feel free to make a pull request. It might work by replacing almost everything in `survey/templates/survey/question.html` by `{{form|boootstrap}}` using django-bootstrap-form. See the project with an example here: https://github.c

[2019-09-19 13:00] #47 closed

[2019-09-19 13:04] Pierre-Sassoulas commented on #11
@florianmouchantaf There might be the start of a fix in #47 but there are also regressions so I cannot merge it as it is.

[2019-09-19 13:05] Pierre-Sassoulas commented on #44
It's not possible right now, but it could be, probably by modifying this class : https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/views/survey_completed.py#L9

[2019-09-19 14:39] florianmouchantaf commented on #47
I used django-boostrap-form but the issue is that each question is duplicated and the second time it is displayed with tag written from admin page . If there is a possible fix to it thanks for the help .
________________________________
From: Pierre Sassoulas <notifications@github.com>
Sent: Thursday, September 19, 2019 4:00 PM
To: Pierre-Sassoulas/django-survey <django-survey@noreply.github.com>

[2019-09-19 22:05] Pierre-Sassoulas commented on #47
Probably the same thing than here : https://github.com/Pierre-Sassoulas/django-survey/pull/46#discussion_r308914216

[2019-09-20 07:24] florianmouchantaf commented on #47
I maintained the category condition and field required but the problem is that each question is duplicated and it doesn't seems to be a problem in the template question.html. Maybe in bootstrap form ?
________________________________
From: Pierre Sassoulas <notifications@github.com>
Sent: Friday, September 20, 2019 1:05 AM
To: Pierre-Sassoulas/django-survey <django-survey@noreply.github.com>
Cc: f

[2019-09-20 11:32] florianmouchantaf commented on #47
En fair comment on utilise boostrap et safe en meme temps car si j'enlève la balise form.label |safe   et je garde form|boostrap   alors les balises restent presentent ne sont pas interpretées par boostrap.

On 20 Sep 2019 00:05, Pierre Sassoulas <notifications@github.com> wrote:

Probably the same thing than here : #46 (comment)<https://github.com/Pierre-Sassoulas/django-survey/pull/46#discussion

[2019-09-20 14:59] giliam commented on #34
Hi @Pierre-Sassoulas , I would be interested in this feature and am ready to contribute. I just have a few questions:

1. Should I integrate in the `index_view` a query to the responses to differentiate polls that have already been answered from non answered polls? It would be nice to have "Take a survey" then "Edit your answer" or "Consult your answer".
2. As the `detail_view` will be different a

[2019-09-20 19:15] Pierre-Sassoulas commented on #34
Hey, thank you, that would be really appreciated.

Yes being able to have two options and a coherent user interface to match would be perfect!

I don't have a very clear memory about the way the code is done. If you have an editing view and a consulting view I think it's best to separate the two but you will probably be the best equipped to decide after seeing the state of the code.

I assigned th

[2019-09-20 19:34] Pierre-Sassoulas commented on #47
I think we can't use both in the template, we probably need to do one of those treatments it in python. (I might be wrong, not touched django for a long time)

[2019-09-21 08:32] #11 closed

[2019-09-25 11:31] giliam commented on #34
I have started looking at it but the SurveyDetail is kind of messy (imho): the response of the user is retrieved in the ResponseForm and not in the View. Looks like a wrong behaviour, isn't it? I can still find a way to implement current issue #34 but it will be a workaround...

[2019-09-25 12:15] giliam commented on #34
Wow, it is even worse than I thought: the elements to multiple select are stored as a text block (kind of parsed list)? Hum. Looks like there is a huge amount of work here...

[2019-09-25 12:30] Pierre-Sassoulas commented on #34
The way it is stored in the database could be modified or made better (handling retro-compatibility and the ability to do migrations, would be complicated if we do that), but I don't think it's required to prevent the user from modifying their response. It even makes it easier because you do not have multiple database objects to handle? Or did I miss something?

[2019-09-25 12:40] giliam commented on #34
The problem is that I was just trying to make it possible to display your answers without modifying them but you must be right. I am going to ignore the things I don't understand and stay on my topic for now :D.

[2019-09-25 12:46] giliam commented on #34
It remains there is probably a kind of security breach with all these safe tags used on templates and with the problem I mentioned earlier.

[2019-09-25 13:04] Pierre-Sassoulas commented on #34
I agree with you. There was a lot of changes that I would have done if I kept on using the software  (especially if I had to use it externally with untrusted users). The fact that complicated migrations had to be done did not help either. Would you be willing to create another issue for this problem?

[2019-09-25 15:07] giliam commented on #34
I will see :)
I don't understand, the tests on my branch (see https://github.com/giliam/django-survey/tree/patch-non-editable) are failing on Travis but not on my local computer. Any clue ? :S

[2019-09-25 15:26] giliam commented on #34
Added on my patch-non-editable branch.
I will rebase to have a clean history.

[2019-09-30 16:48] #34 closed

[2019-10-01 11:27] Pierre-Sassoulas commented on #3
#51 is a first step toward fixing this issue.

[2019-10-02 03:14] sodrooome commented on #9
Hi Pierre, i want to help translate this documentation into Indonesian language, if its interest you

[2019-10-02 06:41] Pierre-Sassoulas commented on #9
Hi @sodrooome , do you know where to start? Do you need me to create the .po file?

[2019-10-02 12:21] sodrooome commented on #9
for now it might not be necessary, I will try to translate it according to the instructions that you made. Thank you for the respond

[2019-10-03 04:08] Gilbishkosma commented on #44
@Pierre-Sassoulas  i will work on this

[2019-10-03 05:59] Pierre-Sassoulas commented on #44
Hi @Gilbishkosma, thank you, much appreciated!

[2019-10-03 11:43] Pierre-Sassoulas commented on #3
@giliam can you write what still needs to be done for this? Maybe we can close it and break it down into a "Paginator" feature, single question per page feature, etc. ?

[2019-10-03 12:50] giliam commented on #3
On what you proposed, only the last item has been done yet:

Current behaviour is, when the correct field is set to `true`, questions are displayed one by one.

[2019-10-03 17:44] Pierre-Sassoulas opened #52 "Displaying questions by category with a page for each category"
Created by breaking down #3.

We could create forms by category whatever the number of question inside them is.

Everything that should be changed for forms generation is in survey/forms.py.

[2019-10-03 17:46] Pierre-Sassoulas opened #53 "Displaying the same number of questions for each page regardless of category"
Created by breaking down #3.

We could create forms with a Paginator (always the same number of questions by page) whatever the categories of the question are

Everything that should be changed for forms generation is in survey/forms.py.

[2019-10-03 17:46] Pierre-Sassoulas commented on #3
Everything not moved to another issue was done in #51 .

[2019-10-03 17:46] #3 closed

[2019-11-26 02:23] colettebas commented on #33
Has progress been made on this issue? I am currently trying to find a way to create a survey from a template but am unsure how to use this field. Can you please give further instruction as to how the field is intended to be used in terms of what to do after you have assigned a template name to a survey and want to use that survey as a template to create a new survey?

[2019-11-26 13:02] Pierre-Sassoulas commented on #33
Hello,

I looked at the code right now. Here's a relevant extract:

[code]

So the value provided should probably be something like `survey/survey_custom.html`. I did not test it. But I think it should at least work without error if you put `survey/survey.html` in the field. If you have the time to make it more explicit in the documentation or inside the error raised when the value is incorrect, I

[2019-11-26 13:05] Pierre-Sassoulas commented on #33
Changed to enhancement instead of bug because the error message appear if your template does not exist, and is explicit. If using `survey/survey.html` still raises an error it would be a bug.

[2019-12-05 18:52] JoeErani opened #54 "Having trouble creating a PDF export config"
I am trying to have it setup so that open response questions are formatted as raw and anything else would be a pie chart. Any help would be greatly appreciated

[2019-12-05 19:34] Pierre-Sassoulas commented on #54
Hello,

Thank you for your question.

You can use the generic part in order to have a "default" output (for example pie chart), then change the type for other questions (you might need to list all the question, so choose the type with the smaller number of occurrence). For example here you would have a pie chart by default and then raw for the question `Lorem ?` and `Dolor ?` :

[code]

I did not

[2020-01-17 14:01] gjelsas opened #55 "export finishes without error and without exported file"
First a big thank you for your work!
When I try to export a report, I get no error message, but I also do not get a file. How do I  specify a filename or an export-location?
The command I'm using is:`python manage.py exportresult -c conf.yaml --survey-id 1 --tex`

[2020-01-17 14:32] Pierre-Sassoulas commented on #55
Hello, thank you for using this library.

I think the default export folder for LaTeX is `tex` at the root of the project. The location can be changed, but not easily it seems, as the directory name is defined with the class name (for example Survey2Pdf will export in the "pdf" directory). In hindsight this look like an odd design choice on my part. You could try to inherit from `Survey2Tex` and c

[2020-01-19 16:24] gjelsas commented on #55
I think I messed up my installation although I did it via `pip install`! Tried to pull the repository, and now it works like a charm.
Thanks again!

[2020-01-19 16:26] gjelsas opened #57 "Create Survey from shell?"
Is there a possibility to create a Survey from the commandline? I could not find an easy way to script the creation of a survey.
Thanks for your Work!

[2020-01-19 16:27] #55 closed

[2020-01-19 16:29] Pierre-Sassoulas commented on #57
Hello, a Survey is a `django.model` object so you can create some with a script. There is some specificity with Django's script, see here: https://stackoverflow.com/questions/8047204/django-script-to-access-model-objects-without-using-manage-py-shell

[2020-01-22 18:30] gjelsas opened #58 "ModuleNotFoundError: No module named 'pysankey'"
when trying to export a result I got the message

I could fix it by changing a lowercase "s" to a uppercase "s"  in [survey/exporter/tex/question2tex_sankey.py](survey/exporter/tex/question2tex_sankey.py).
Now it reads: `from pySankey import sankey` instead of `from pysankey import sankey`

[2020-01-22 18:47] Pierre-Sassoulas commented on #58
Thank you for the report and for the fix :)

[2020-01-22 18:53] Pierre-Sassoulas commented on #58
There seems to be a problem with the PySankey module, it works on Linux with one import and on windows with the other, I'll have to make it cross-platform compatible. I guess you're using Windows?

[2020-01-22 18:56] gjelsas commented on #58
No, this happened in a Dockercontainer with the `FROM Python:3` Tag. But on LInux...

[2020-01-22 18:58] Pierre-Sassoulas commented on #58
Thank you, I'll investigate then.

[2020-01-22 22:38] gjelsas opened #60 "Trying to create result in pdf format failed"
I try to generate a pdf result from a poll, but it stopps with:
`sh: 1: xelatex: not found
sh: 1: xelatex: not found`

I think there is some path related issue here, but I keep looking at your code and don't see what I'm doing wrong.

It creates the .tex file, but aborts afterwards. I think the conversion tex to pdf is not working.

Some more of the output is:
`survey.exporter.tex.latex_file.__ini

[2020-01-22 23:06] Pierre-Sassoulas commented on #60
XeLaTeX is a program used to generate latex (like pdflatex), it need to be installed alongside django-survey. Under ubuntu it's `sudo apt-get install texlive-xetex`. I think I did not put it in the documentation properly.

[2020-01-23 22:56] gjelsas commented on #60
Itried to install texlive in the python3 container and in alpine linux, but did not get it to work.
I am now using an Ubuntu 18:04 container and it works fine!!
Thanks a lot!

[2020-01-23 22:56] #60 closed

[2020-01-23 23:10] gjelsas commented on #57
Thanks for pointing in the right direction and the work you do!
I was able to create a script that runs in the same folder as the manage.py file.
It creates random users with random passwords and sends a onetime invitation link to a list of email addresses. The addresses and a sending email server must be defined in a env.py file in the same folder.
[code]
the env.py file reads like:
[code]

[2020-01-24 08:25] Pierre-Sassoulas commented on #57
Thank you for the detailed example, it will be helpful if someone else is trying to do that.

Another way you could do it is to add your own manage.py command. Check the `survey/management/commands/` directory for an example of integrated commands. It would permit you to launch the command directly with manage.py.

[2020-01-24 08:25] #57 closed

[2020-01-24 08:28] Pierre-Sassoulas commented on #60
For the record, this should work on other platforms than ubuntu. The alpine Linux package that you need to install is probably this one: https://pkgs.alpinelinux.org/package/edge/community/x86_64/texlive-xetex. Using a base ubuntu and installing texlive-full will increase the size of your docker image by a lot.

[2020-01-24 09:56] Pierre-Sassoulas opened #61 "Document the xelatex dependencie for LaTeX generation"
Poor documentation caused #60. We could also provide a working Docker image for ubuntu/alpine.

[2020-01-24 10:15] Pierre-Sassoulas opened #62 "Add ready-to-go docker images"
@gjelsas could you share the docker image you're currently using, please? This could be helpful for everyone.

[2020-01-24 14:31] gjelsas commented on #62
I use a Dockerfile that reads:
[code]
I use the` /start.sh` script wich reads:
[code]
requirement.txt is as follows:
[code]

[2020-01-25 12:41] gjelsas commented on #62
An Alpine Linux based container would be great, but I struggle with the building of scipy and matplotlib which first take forever, and eventually failes. I would be interested in any suggestions regarding building an Alpine Linux environment with all necessary packages to keep the image small.

[2020-01-25 13:44] gjelsas opened #65 ""You can always come back and change them." Is displayed wrongly"
Even if the survey is one write only the success message reads

Hitting the back button or reloading the page doesn't allow reanswering the questions, but the message is always displayed. There should be logic to show this message only if the checkbox "users can alter their answers afterwards" is checked.

[2020-01-26 17:47] #65 closed

[2020-01-26 17:52] #61 closed

[2020-01-26 18:06] Pierre-Sassoulas commented on #65
Thank you for opening the issue, it was indeed a problem introduced in #50.

[2020-01-26 18:15] Pierre-Sassoulas commented on #62
I won't be able to check this week but the idea I have is that once we have a working python3/pip3 and once xelatex, python3-tk and matplot dependencies are installed we should be able to install with a simple `pip3 install django-survey-and-report`. I used the survey app like you - by copying the source directory in my own Django application-, so maybe this approach does not work right now (same

[2020-01-29 14:19] gjelsas commented on #62
For a Dockercontainer working on a RaspberryPi (model 4 tested) you should use `FROM debian` and `RUN apt install -y texlive-xetex openssh-server python3 python3-pip git python3-numpy python3-seaborn python3-pandas` otherwise the building of django-pandas might fail...

[2020-01-29 16:31] gjelsas opened #67 "More documentation for customization of reports"
Is there somewhere more information about the report function? I would like percentages and the sum of total votes, for example. If you could provide more detailed information about the possibilities of the report function, it would be very welcome!!

Maybe there is some external documentaion of the used code?

Thanks for your work!

[2020-01-29 17:11] Pierre-Sassoulas commented on #67
Hello ! With the CSV export, you can have the raw data as text and treat them with your tool of choice. Using the PDF report, you can have a pie chart, raw text, or a Sankey diagram using only the configuration, see here https://github.com/Pierre-Sassoulas/django-survey#generating-a-pdf-report-from-the-surveys-result.

But you could also develop and make some other calculations in a custom reporte

[2020-01-29 18:50] Pierre-Sassoulas commented on #67
Maybe you already saw the this documentation ? Is something not clear enough ?

[2020-02-02 18:55] gjelsas commented on #67
I just am not skilled enough to understand how to get a report where the count of yes no choices get summed and reported as a total and in percentage. I'll just script some code for parsing the csv-file to output my results!
But thanks for the Answer!

[2020-02-04 06:50] ebdavison opened #69 "Clone survey"
I have a need to issue the same survey each week and it would be great to be able to clone the survey complete with all questions to a new survey and provide a new title.

[2020-02-04 06:52] ebdavison opened #70 "Trouble with export to csv"
I am trying to export to CSV and am getting an error about NoneType:

[code]

[2020-02-04 06:57] ebdavison opened #71 "User needs to be able to submit float/real number"
For some instances, a real number (floating point) rather than just an integer is needed.

[2020-02-04 06:57] ebdavison opened #72 "User needs to be able to submit a date"
Date fields are needed so format validation can be performed rather than using short answer (single-line) and deal with various date formats.

[2020-02-04 07:05] Pierre-Sassoulas commented on #70
Hi, thank you for the report!

`if len(self.body) < 3 or self.body[0:3] != "[u'":` should probably become `if self.body and (len(self.body) < 3 or self.body[0:3] != "[u'"):`. You can try to modify `/home/otcomm/otcomm/otcommenv/lib/python3.6/site-packages/survey/models/answer.py` directly while waiting for a fixed release.

In order to add a test case, would it be possible for you dump your databa

[2020-02-04 07:08] Pierre-Sassoulas commented on #69
There kinda is a way to do that, not very user-friendly though. You can use `python manage.py dumpdata` then `python manage.py loaddata` every week after changing the title in the json (or changing it later in the admin panel).

[2020-02-04 07:12] ebdavison opened #73 "Error exporting survey"
Trying to export a survey and getting error with `USER_DID_NOT_ANSWER`:

[code]

[2020-02-04 08:05] Pierre-Sassoulas commented on #73
Ho, I get why you had #70 then, you need to have a value for "USER_DID_NOT_ANSWER" in your settings and if you don't then the value = None. I think it won't fix your data after the fact though.

This should be done in survey and you should not have to add it yourself. Same than #41

[2020-02-04 15:19] ebdavison commented on #73
Thank you for the reply; that makes sense.  There have been a few stumbling blocks to getting this going and several items missing from `settings.py` were not documented.  I found several, including `ROOT` and `CHOICES_SEPERATOR` in various issues ... Documenting these in one place would be very helpful.

That being said, I will add this and see how it goes.  Several of the items actually were ini

[2020-02-04 15:22] ebdavison commented on #73
Indeed this fixes the issue but feels like a workaround.  I will go with it for now.

[2020-02-04 23:44] ebdavison commented on #70
Here is a cleaned up export with just the survey and the answers.  the last question has an empty response.
[issue70.zip](https://github.com/Pierre-Sassoulas/django-survey/files/4156718/issue70.zip)

[2020-02-05 22:10] #70 closed

[2020-02-05 22:21] Pierre-Sassoulas commented on #70
Thank you for the test data, I released 1.3.14 with a fix for this. It also has german translation.

[2020-02-05 22:45] #67 closed

[2020-02-06 07:24] Pierre-Sassoulas commented on #73
Following the fix of #70 there should now be an ImproperlyConfiguredError, the idea would be to have a default value like in #41.

[2020-02-06 07:51] Pierre-Sassoulas commented on #73
@ebdavison in order to fix your data replace ``"None"`` by `null` in your json and use `python3 manage.py loaddata` on this correction using the latest version (1.3.14).

[2020-02-06 08:00] Pierre-Sassoulas opened #74 "Permit to have sensible default value for constant in settings"
Make the temporary fix for #27, #41 and #70  a little better.

[2020-02-06 08:01] Pierre-Sassoulas commented on #73
I opened #74 in order to not have an enhancement with the title of the original bug.

[2020-02-06 08:01] #73 closed

[2020-02-06 08:03] Pierre-Sassoulas commented on #41
Closed in favour of #74

[2020-02-06 08:03] #41 closed

[2020-02-06 08:04] Pierre-Sassoulas commented on #27
Closed in favour of #74

[2020-02-06 08:04] #27 closed

[2020-02-06 08:05] #54 closed

[2020-02-09 20:20] #74 closed

[2020-02-09 20:24] Pierre-Sassoulas commented on #44
@Gilbishkosma do you still want to tackle this? I could un-assign this issue if you don't (so someone else can take it).

[2020-02-09 20:26] Gilbishkosma commented on #44
Hello @Pierre-Sassoulas , I almost forget about this, I will work on this,thanks for asking.

[2020-02-10 15:18] gjelsas commented on #69
Maybe you want to take a look at [this](https://github.com/Pierre-Sassoulas/django-survey/issues/57) issue. I wrote a script to insert a survey from commandline. You could create a cronjob, or have a list of topics to be fed into this script. I do it by hand every other week.

[2020-02-10 17:48] gjelsas commented on #35
#75 Maybe this is a way to this feature request?

[2020-02-11 23:57] ebdavison opened #76 "Need hidden form field"
I need a way to include a hidden form field that has a fixed value.  For instance, the ID of the survey that is needed to tie it to an external table.  Or a date that is is valid (like a January survey that has a yyyy-01-01).

In my case, I need to collect stats every week and this form would help with that but it needs a week date to accompany it.  I would be creating the same survey over and ove

[2020-02-11 23:58] ebdavison commented on #71
OK, so I forked the repo in an attempt to tackle this one.  I found where the data types are but I cannot seem to identify where the code is that renders the UI and field validation.  Can you steer me in the right direction for that bit?

[2020-02-12 07:34] Pierre-Sassoulas commented on #71
I think you can check here for the view :https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/views/survey_detail.py#L31 and here for the template: https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/templates/survey/question.html. I thought it was "Django bootstrap form" that handle it, but it seems like everything has been redone by hand. (We could remove the dep

[2020-02-12 07:40] Pierre-Sassoulas commented on #76
Would it be possible to add the week in the name of the survey? Something like "Weekly survey (2020-47)". In any case, we can add information in the Survey object without having to also put it in the form, it can be linked from the primary key alone (that the server knows off). #75 aim is to add a begin and end date. Could you use that once we merge it to master?

[2020-02-16 17:33] ebdavison commented on #76
Just putting the date in the title does not help as much since I would need to regex parse the title rather than just use an answer that is an actual date field.

Yes, I think I could use #75 where the date I am looking for can be the expiration date, I suppose.  I would need to play with it.

[2020-02-16 17:40] ebdavison opened #77 "Default value for a field"
I have a use case where I need to be able to put a default value for a field for one of the questions. The user can always change it but that is not the scope of this issue.

[2020-02-16 17:42] Pierre-Sassoulas commented on #76
The answers are linked to a Django User if authentication is implemented. But there probably is a use case for a hidden field, so I would welcome a pull request of course :)

[2020-02-16 17:48] Pierre-Sassoulas commented on #77
Nice feature! It's probably a small change doable by adding a default value field here: https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/models/question.py#L73 with default value = None in order to make migrations from older survey possible. There might be more work to be able to handle all possible type of questions and make sure not having a default still works.

[2020-02-18 18:52] ebdavison commented on #77
I don't see how putting the default value in the model is the answer.  You already have a "default value" for when the user did not enter any data with `USER_DID_NOT_ANSWER` in `settings.py`.  I was really thinking that when a survey question is created, the user creating it can enter a default value.  Like, in my other issues, the week the survey is for.  That way the user can see it is entered a

[2020-02-18 19:05] Pierre-Sassoulas commented on #77
Hmm, yeah it makes sense to have the value for `USER_DID_NOT_ANSWER` as default instead of `None`. If this is a default value for a question to a survey by a user for each user, maybe it needs another concept than the `Question` model. I'm not sure about it but I don't think the Question model has the necessary N-N relationship with Survey and User. It looks harder to do than I thougth.

[2020-02-21 07:09] PaleNeutron opened #78 "Any plan to export excel?"
Excel is much more popular in company, especially for users who are not a developer.

I am building an web app for my co-workers, and they want to export survey result in excel format for daily usage.

[2020-02-21 07:36] Pierre-Sassoulas commented on #78
Hello, there is already a CSV export. The file can be automatically opened in excel with [a little trick](https://superuser.com/a/686415/567417). IE.  adding a line containing `"sep=,"` at the top of the file. Replacing `csv = []` by `csv = ['"sep=,"']` here : https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/exporter/csv/survey2csv.py#L72 should do the trick (2mn if you know wh

[2020-02-21 07:52] Pierre-Sassoulas commented on #78
Adding an option using the hack seemed fast to do, so I did. Can you try to add `EXCEL_COMPATIBLE_CSV = True` in your setting file after updating to `1.3.17` ?

[2020-02-21 09:56] PaleNeutron commented on #78
Thanks, that works well.

BTW, be aware, excel's default csv encoding is `UTF8-BOM.

[2020-02-21 10:19] Pierre-Sassoulas commented on #78
Is it causing a problem for opening the exported CSV? (You have to choose the encoding?)

[2020-02-21 10:28] PaleNeutron commented on #78
Yes, if  csv file contains any non-unicode string and not encoded by `UTF8-BOM`, excel can not decode them correctly.

Further more, I write a action to export csv in admin site. I thought it is easier to use than command line.

[code]
here is my implement.

I think it could be better by...

1. I just export the first query selected. It could be export all and zipped in a zip/tar.gz file.
2. I fou

[2020-02-21 11:34] Pierre-Sassoulas commented on #78
Ok, this is a bug then, I'm going to open a ticket for the BOM_UTF8 encoding.

For the admin actions, I did not know this existed. It's a really neat idea. It could also be done for PDF report.

Regarding performance (a query for each question), unless you have a quick solution to make it efficient I would worry about it when someone consider that the CSV generation time is too long. But I do welc

[2020-02-21 11:34] #78 closed

[2020-02-21 11:35] Pierre-Sassoulas opened #79 "Fix the encoding for CSV export compatible with Excel"
Created from #78

[2020-02-21 11:38] Pierre-Sassoulas opened #80 "Add actions in admin for CSV/PDF export"
Created from #78

Furthermore, I write an action to export CSV in the admin site. I thought it is easier to use than a command line.

    import csv
    import codecs
    from django.http import HttpResponse

    ...

    @staticmethod
    def export_as_csv(self, request, queryset):
        survey = queryset.first()

        response = HttpResponse(content_type='text/csv')
        response['Conten

[2020-02-21 11:39] Pierre-Sassoulas commented on #80
Regarding performance (a query for each question), unless you have a quick solution to make it efficient I would worry about it when someone consider that the CSV generation time is too long. But I do welcome PR for this if you know a way to make it better.

[2020-02-22 12:10] Pierre-Sassoulas commented on #79
Fixed in 1.3.18

[2020-02-22 12:10] #79 closed

[2020-02-23 14:57] #80 closed

[2020-02-25 08:35] #35 closed

[2020-02-25 09:03] #1 closed

[2020-03-05 21:24] saschalalala commented on #71
@ebdavison I just had a brief look and if I see it correctly, it is enough to specify a new floatfield inside the Question class like this:

[code]

and update the form so that it maps the question type correctly to the respective Django field:

[code]

The rest should be automatically handled by the forms and the template. At least it did, when I did some tests:

![image](https://user-images.gith

[2020-03-05 21:35] saschalalala commented on #62
Regarding Alpine and Python I just recently read a very interesting blog post: https://pythonspeed.com/articles/alpine-docker-python/. It seems like more "mainstream" Linux distributions are a better choice for Python based docker containers.

[2020-03-05 21:39] saschalalala commented on #33
I think, I would try this one, but I am not sure if I understand correctly. Do you want to have a warning in the admin if the template filename string is not valid or do you want the application to use a fallback if the custom survey cannot be found?

[2020-03-05 21:45] saschalalala opened #85 "Survey visualisation pages"
I don't know if it is in the scope of this project, but for a small project, I am working on, I will have to create some frontend visualizations of the survey state. Of course, the first iteration will be quite focussed on my data, but I think, it would be possible to build a configurable and more generalized version afterwards. Is that something you could think of having inside this project?

At

[2020-03-06 07:51] Pierre-Sassoulas commented on #85
I think this could be integrated if it's not breaking other URLs/functionalities. Being independent of Vue.js is nice, but having new functionalities is nice too. Also, I don't think scaling is a real issue for the typical user of this lib so I don't mind new dependency too much if they bring value.

Did you check `django-rest-framework` for the small JSON API? This is a pretty neat project, it wo

[2020-03-07 12:57] saschalalala commented on #72
I followed exactly the same approach I described at https://github.com/Pierre-Sassoulas/django-survey/issues/71#issuecomment-595454748, just using date instead of float of course. However, the rendered input field is of type text. I looked up the django templates that are used by `DateField`s and it turns out, that they don't use `<input type="date">`, see https://docs.djangoproject.com/en/3.0/ref

[2020-03-07 13:00] saschalalala commented on #85
Yes, I already worked with drf a little and I think I would use it for this functionality too.

[2020-03-07 13:10] saschalalala opened #87 "Docs, application customization"
I am currenty using django-survey as an app inside another project. I wanted to modify the templates and classes a little in order to, e.g. insert a captcha into the survey etc. These things weren't that hard to achieve, but I'd consider it a more advanced topic because one needs to know about template inheritance order and settings such as `TEMPLATES` and `DIRS` (inside `TEMPLATES`) and for templ

[2020-03-07 13:28] Pierre-Sassoulas commented on #72
I think that we do not have custom javascript, we're using what is in bootstrap (so jquery). Also, not a lot of it, nor anything complicated. It would make sense to drop it if it's stretched too far by a feature. To be fair my knowledge is not up to date on the subject, but the migration to another framework should be easy because there aren't that much different forms to render (6? 8 with date an

[2020-03-07 13:33] #71 closed

[2020-03-07 15:00] saschalalala commented on #72
I searched the templates for `<script>` tags and I think, you aren't using any javascript at all at the moment, is that possible? Is there a specific reason then for these 3 script includes? https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/templates/survey/base.html#L23-L25

However, I think, _not_ having too much javascript inside the surveys themselves is a very good idea, an

[2020-03-07 15:19] Pierre-Sassoulas commented on #72
They are necessaries because some of bootstrap's CSS classes that we use rely on it. I could be wrong, but it's possible that the only thing for which it's used is the dropdown for survey parts.

So yeah I pretty much agree with :

It was included in a project that used boostrap/jquery where it made sense at the time. I don't like changing things in the javascript because those interactions are no

[2020-03-07 15:28] saschalalala commented on #72
Ah, I found some of them in one of the test surveys

![image](https://user-images.githubusercontent.com/3439311/76146079-39d46780-6090-11ea-8ecb-2b3913f01876.png)

Thanks, I didn't know about that functionality yet. Well, then it makes total sense to keep these files and extend them with flatpickr. I'll have a look about how to integrate it without much hassle. Forget everything I wrote about parc

[2020-03-07 21:50] #72 closed

[2020-03-08 11:54] saschalalala opened #89 "Conditional survey flow"
Is a conditional survey flow something that you would consider inside the scope of this project?

That would mean, you could create flows like:

 - If question A is answered with yes, display question 3, else display question 2, or
 - If question X is answered with no, skip questions 13 to 28

Longer description e.g. here: https://manual.limesurvey.org/setting_conditions/en

Is something like this

[2020-03-08 12:02] Pierre-Sassoulas commented on #89
The project does not have this, but this is a good feature idea and it was already asked for in #36. As you said there's a lot of thinking to do before implementing it and probably also a lot of actual implementation work :)

[2020-03-12 10:37] guettli opened #90 "README: Which online reports are available?"
I read the README.

I ask myself: How many people want a report in PDF format, and how many people want an online report.

I think time has changed and most people prefer a online/HTML report.

Does django-survey support online reports?

If "Yes", then I think it would be feasible to tell this the (potential) new users in the README.

[2020-03-12 13:48] Pierre-Sassoulas commented on #90
Hi, no there is not online report, but it's doable by using the same informations that is available in the models used for other reports. Using d3.js or similar would be nice.

[2020-06-04 02:37] AntonOfTheWoods commented on #52
I am going to work on this. My idea is to turn `Survey.display_by_question` from a `Boolean` to an `Int` `Survey.display_method` with choices as follows:
[code]
How does that sound?

[2020-06-04 06:15] Pierre-Sassoulas commented on #52
Thank you for working on this. I think this is the best way to do it. There will be a migration that can't be done automatically, (display_by_question=True becomes "by question" and False become "By all") but this seems inevitable.  I would name "By all" : "All in one page".

[2020-06-07 09:37] AntonOfTheWoods commented on #52
For your comment https://github.com/Pierre-Sassoulas/django-survey/pull/91.

[2020-06-09 05:29] Pierre-Sassoulas commented on #52
Done in #91, thanks to @AntonOfTheWoods

[2020-06-09 05:29] #52 closed

[2020-06-11 12:51] gannebamm commented on #89
Is there any ambition to implement this? The main idea is quite old.

[2020-06-11 14:12] Pierre-Sassoulas commented on #89
Good point, I pinned #36  but it was not in the kanban yet. I'd be glad to accept your merge request  :)

[2020-06-11 19:32] #89 closed

[2020-07-07 00:31] pwillis-els commented on #62
I am using the following Dockerfile for a DJango project directory called "mysurvey". The image is about 516MB, which is not ideal, but i'll figure out how to slim it down later. You can add more functionality to this Dockerfile, add a .dockerignore, Volumes, multi-stage builds, etc. But to start with, this is working for me.

Dockerfile
[code]

requirements.txt
[code]

---

To use Alpine, you can

[2020-07-07 19:06] Pierre-Sassoulas commented on #62
Thank you for the detailed answer @pwillis-els. I'll accept a merge request with a dockerfile, even if the size of the result is not optimal : I'd rather have a working image than nothing :)

[2020-07-15 13:44] antnieszka opened #92 "Django LTS 2.2 support"
Hi, is there any reason why current LTS version of Django (2.2) is not supported?
https://github.com/Pierre-Sassoulas/django-survey/commit/8f075c3117fb691ff4b8ab7b6946a89e98044fa5

[2020-07-15 14:02] AntonOfTheWoods commented on #92
@antnieszka it is tested (i.e., has a profile in tox.ini) with 2.2 and 3.0 so from that perspective no. @Pierre-Sassoulas may have a reason for requiring that in the `setup.py` though.

[2020-07-15 20:34] Pierre-Sassoulas commented on #92
Hello, thank you for opening the issue, there is no good reason to do except that django 3.0 was out and I upgraded. I don't remember if we made incompatible change from django 2.2 to 3.0. If we did not this restriction is probably misguided as django 2.2 seems LTS and will be maintained for "extended support" into 2022 (https://www.djangoproject.com/download/#supported-versions). I don't have tim

[2020-07-15 23:30] AntonOfTheWoods commented on #92
@Pierre-Sassoulas ，I actually did all my testing with 2.2 and was intending sticking with 2.2 until this forced me to upgrade :). As I mentioned, it passes all the tests in tox so it should just be a matter of replacing 3.0 with 2.2 in the `setup.py`

[2020-07-16 07:34] Pierre-Sassoulas commented on #92
Ok, sorry for forcing you to upgrade unnecessarily, I'll change that requirement.

[2020-07-16 07:39] #92 closed

[2020-07-16 07:41] Pierre-Sassoulas commented on #92
Changes released in `1.3.23` :)

[2020-07-16 19:22] antnieszka commented on #92
@Pierre-Sassoulas Thanks! :)

[2020-07-30 05:30] myii opened #93 "Uncaught TypeError: dateInputFields.flatpickr is not a function"
Noticed that the date picker stops working in this situation:

1. Fill out the survey so that all of the data is valid _except_ for a required date field (date of birth is an excellent example).
1. Hit `Submit` and the missing date validation error will be highlighted -- however, the picker no longer works.
1. The user _can_ now enter a date manually provided the use the correct format.

The devel

[2020-07-30 05:40] Pierre-Sassoulas commented on #93
Thank you for the super clear report ! If you make a fix do not hesitate to create a merge request :)

[2020-07-30 05:46] myii commented on #93
@Pierre-Sassoulas Thanks for the rapid response!  I don't have any ideas about this just yet but I may have something else useful when modifying survey responses in the admin: _it's very easy to introduce invalid entries if any of the answers are edited_.  I've written some basic validation that can at least ensure the data type is valid and can even compare with the valid choices for those types

[2020-07-30 06:15] Pierre-Sassoulas commented on #93
Yeap, sounds nice, I remember there is a LOT of assumptions about the formatting of multiple choice values. I'd definitely merge that.

[2020-08-06 07:31] quimey opened #94 "Make pySankeyBeta dependency optional"
Installing pySankeyBeta brings a lot of heavy dependencies (numpy, scipy, pandas) but I guess those are only needed if you want to create sankey diagrams.

Using the mechanism provided in pep0508, it would be possible to make the dependency optional and to use something like `pip install django-survey-and-report[sankey]` to install it.

What do you think?

[2020-08-06 11:54] BartKalkman opened #95 "Collectstatic fail whitenoise"
Hi, When using whitenoise the collect static command fails on the following:
```The CSS file 'survey\css\bootstrap.min.css' references a file which could not be found: survey/fonts/glyphicons-halflings-regular.eot```

[2020-08-09 08:06] Pierre-Sassoulas commented on #94
Yes, I've been thinking about that for a long time. I wanted to make two packages originally. One with report the other one with just the survey but I think removing the sankey part makes more sense as the dependencies are really heavy. If there is an easier way than making two packages, I'd be glad to remove those heavy dependencies, thank you for creating the issue.

[2020-08-09 08:09] Pierre-Sassoulas commented on #95
Thank you for the report, this might be something that fix itself if we upgrade bootstrap to the latest version, but I'll merge a fix on the current version too.

[2020-08-10 18:23] ebdavison opened #96 "ProgrammingError can't adapt type 'SimpleLazyObject'"
After an upgrade to Django 3.1  (with `django-survey==0.0.3` in my `requirements.txt` file), I am receiving an Internal Error 500 with this text whenever I try to submit a survey:

[code]

This seems to be the relevant parameter info:

![image](https://user-images.githubusercontent.com/549431/89816597-7824f580-db0c-11ea-8e7c-a49708765abd.png)

And this is the resulting query:

![image](https://use

[2020-08-10 18:25] ebdavison commented on #96
[code]

[2020-08-10 19:23] Pierre-Sassoulas commented on #96
Thank you for reporting the bug, it's probably fixable with this stackoverflow answer https://stackoverflow.com/questions/31226625/. A date range might have been implemented incorrectly. I will release a new version if a fix + a migration file is proposed by pull request.

[2020-08-17 00:42] Asitonie opened #97 "InterfaceError after submitting the survey"
Hello! Thank you for creating this beautiful app.  I encountered
**InterfaceError(Error binding parameter 0 - probably unsupported type.) in python3.6/site packages/django/db/backends/sqlite3 /operations.py, line 144, in _quote_params_for_last_executed_quer**
every time I submitted the survey. I'm not sure if is a bug of the package or it is related to my DB setting. Although the error occurs, the

[2020-08-17 06:29] Pierre-Sassoulas commented on #97
It look like a sqlite error. I never encountered it. Did you change the database manually ? I would look at the output of `python manage.py migrate` or maybe dump everything from the database, starting from a new one with syncdb and then loading back with loaddata.

[2020-08-17 17:45] neilmillard commented on #97
Seems the UUID is not resolving as a string in the database query.
https://github.com/Pierre-Sassoulas/django-survey/pull/98

[2020-08-18 00:12] Asitonie commented on #97
No, I did not change the database. In fact, I create a project that only contains this app and only copy and paste the code in the instruction to import it. I try on my own computer and my uni server, both encounter this problem. The output of `python manage.py migrate`  says  "No migrations to apply"

[2020-08-18 00:20] Asitonie commented on #97
I see. Thank you for answering!

[2020-08-18 06:34] Pierre-Sassoulas commented on #97
I'm going to release a new version with @neilmillard  bug fix, in the meantime you can apply it to your local code ;)

[2020-08-20 01:19] Asitonie commented on #97
Thank you so much! :)

[2020-08-24 07:07] Pierre-Sassoulas commented on #97
I just released `1.3.24`, sorry for the delay.

[2020-08-24 07:07] #97 closed

[2020-08-30 16:42] #94 closed

[2020-10-02 09:15] ddhira123 commented on #9
Hi, @Pierre-Sassoulas @sodrooome. Can I join you to help to translate this documentation in Bahasa Indonesia (Indonesian)?

[2020-10-02 15:56] Pierre-Sassoulas commented on #9
Hi @ddhira123 thank you for wanting to translate django-survey. I think the easiest way to do it for you would be to start from zero, I think @sodrooome do not have a fork of the project right now and the last message is a year old (exactly :)) . I'd be happy to help you if you have any question.

[2020-10-03 15:11] ddhira123 commented on #9
Hi @Pierre-Sassoulas Would you mind if I ask you to create the configurations such as .po file and another things required so that I would need to only focus on translations? Thank you

[2020-10-03 18:33] Pierre-Sassoulas commented on #9
@ddhira123 sure, let me know if https://raw.githubusercontent.com/Pierre-Sassoulas/django-survey/c8f0b5ba37981eb96c57a646ca279aea85cdee73/survey/locale/id/LC_MESSAGES/django.po is working for you ? It's in `survey/locale/id/LC_MESSAGES/django.po` on the latest master if you want to create a pull request :)

[2020-10-03 19:56] Pierre-Sassoulas commented on #58
Closing because it must be a problem with the package installed locally.

[2020-10-03 19:56] #58 closed

[2020-10-04 15:39] ddhira123 commented on #9
Hi @Pierre-Sassoulas I have done the translation in .po file you had referenced. Before I do the pull request, could you please put the tag `hacktoberfest` on your repo so my PR would be counted for hacktoberfest for this year? This is regarding the new rules stated here: [https://hacktoberfest.digitalocean.com/hacktoberfest-update](https://hacktoberfest.digitalocean.com/hacktoberfest-update) . So

[2020-10-04 15:59] Pierre-Sassoulas commented on #9
No problem I added the label :) Thank you for contributing !

[2020-10-09 23:01] gpxlqa opened #101 "Rearranged components"
The "card" to create questions occupies all horizontal pages and the fields should be rearranged in order to occupy less space. In other words, develop this section available vertically, not horizontally.

![unnamed](https://user-images.githubusercontent.com/6579591/95638149-0b759b00-0a6a-11eb-970a-2da1e01b94f9.png)

[2020-10-19 07:36] a-wip0 opened #104 "What does template mean in the Add Survey page and how to use it"
![image](https://user-images.githubusercontent.com/33978908/96415079-35704f80-1218-11eb-9172-19c43bb409a5.png)

What should i type there if i want to use template?
How to use it?
where it get implemented?

[2020-10-24 12:52] Pierre-Sassoulas commented on #101
Done by @capaci in #102

[2020-10-24 12:52] #101 closed

[2020-10-25 12:07] a-wip0 commented on #101
why don't just resize the "card" instead of making it vertical, now user have to scroll far just to create the few question

[2020-10-25 13:24] Pierre-Sassoulas commented on #101
@a-wip0 I'm open to suggestion, if you have a better idea I would merge it for sure. By the way this change is not released yet.

[2020-10-25 13:44] Pierre-Sassoulas commented on #104
Hello, by default the template used is `survey/one_page_survey.html` is the survey is displayed all in one page or `survey/survey.html` if not. You can use another template by changing the value for something else (probably a template you created yourself specifically for your survey), the file must exists and be accessible by django at runtime.

[2020-10-25 13:46] Pierre-Sassoulas commented on #104
The implementation is mostly here: https://github.com/Pierre-Sassoulas/django-survey/blob/60318c2080fbf9e834b8dcafa83132901b43a369/survey/views/survey_detail.py#L64

[2020-11-02 03:41] a-wip0 commented on #104
thank you for your response, i have another
1. does the sort by question and by category work? i tried it and it didn't work
2. about the image question, how to put the asnwer option? url? local image?

[2020-11-02 20:35] Pierre-Sassoulas commented on #104
I never used images, both url and local images are good idea. It's probably only a template link in static though. You can open a new issue for the sorting bug, or for the images by url/local image, I would welcome a pull request for both this :)

[2020-11-02 20:35] #104 closed

[2020-11-03 10:05] turbok2 opened #105 "Object of type 'date' is not JSON serializable"
There is an error like below:
When I choice date at first page and click 'I'm done'
In case I made questions using 'By category' and more then 2 category.
It's okay. when I made questions with 1 category or put a question (date) at last page.

========================================
TypeError at /survey/12/
Object of type 'date' is not JSON serializable
Request Method: | POST
Request URL:http://1

[2020-11-04 22:05] Pierre-Sassoulas commented on #105
Hello, thank you for the bug report, would you have the full stacktrace of the error please ?

[2020-11-05 17:49] turbok2 commented on #105
I don't know full stacktrace. so I copy some infomation in the trackback section.
if you want  login id, passwd, I can offer. let me know.
=====================================
Environment:

Request Method: POST
Request URL: http://110.8.206.17:8000/survey/12/

Django Version: 2.2.2
Python Version: 3.6.10
Installed Applications:
('django.contrib.admin',
 'django.contrib.admindocs',
 'django.contri

[2020-11-07 21:03] rhenanbartels opened #106 "pt_BR locale not working"
Hi,  I would like to thank you all for developing this package. It saved me a lot of time. Congratulations on the great work!

I've noticed that the `pt_BR/pt-br` is not working.

I've checked the `django-survey/survey/locale/pt-br/LC_MESSAGES/` folder and the `django.mo` file is missing. I've also checked the `survey/settings.py` and the variable `LAGUAGES` is missing the ("pt-br", "Brazilian Por

[2020-11-07 21:27] Pierre-Sassoulas commented on #106
Hello, thank you for the bug report and for the kind words, much appreciated. Are you using the pypi package or the github repository directly ? What happens if you do `python manage.py compilemessages` for your project ?

[2020-11-07 21:47] rhenanbartels commented on #106
Hi, I've installed the package using `pip install django-survey-and-report`.

If I run `python manage.py compilemessages`

I receive:
[code]

[2020-11-08 09:25] #106 closed

[2020-11-08 09:27] Pierre-Sassoulas commented on #106
Should be fixed in `1.3.28` :)

[2020-11-08 09:32] Pierre-Sassoulas commented on #105
Thanks, if giving your passwords hashes is not a problem would appreciate to have the dump of the database to reproduce the problem. Can you upload `issue_105.json` after launching `python manage.py dumpdata  > issue_105.json`, please ?

[2020-11-08 17:03] rhenanbartels commented on #106
Perfect! Thank you very much

salutations du Brésil []s

[2020-11-09 10:39] turbok2 commented on #105
Ok, I can give you my info. Let me know youe contact email address. I'll reply.
and I attach issue_105.json file.
[issue_105.json.zip](https://github.com/Pierre-Sassoulas/django-survey/files/5509807/issue_105.json.zip)

[2020-11-10 02:35] turbok2 commented on #105
test

[2020-11-10 02:43] turbok2 commented on #105
open again. sorry.

[2020-11-10 06:15] Pierre-Sassoulas commented on #105
Don't worry I don't need your password, I can create another super user :)

[2020-11-10 10:50] turbok2 commented on #105
You can use my site now.
http://110.8.206.17:8000/survey/12/

when you  fill 'foundation date 설립일'  and press "I'm done". you can see that error msg.

[2020-11-11 07:16] d-horner opened #108 "Multiple choice checkbox displays on one line"
Using a large list of multiple select options incorrectly displays choices on one line:
![image](https://user-images.githubusercontent.com/29963998/98780621-5d0c9f00-23f5-11eb-9f73-f20dc8854a2f.png)

Adding a `<br>` tag within the for loop in the [questions.html template](https://github.com/Pierre-Sassoulas/django-survey/blob/ee3c3518beef09d0eb412dfc1da9829c8e888e63/survey/templates/survey/questio

[2020-11-11 10:00] Pierre-Sassoulas commented on #108
Good catch ! Could we use something like this instead ? https://getbootstrap.com/docs/4.0/components/input-group/#checkboxes-and-radios. Or maybe django boostrap form "crispy" `{{ form|crispy }}`. I'll let you choose the solution between those 2 or a simple `<br>` as we already have boostrap and django-boostrap-form as dependencies.

[2020-11-11 10:51] d-horner commented on #108
I was actually going to suggest creating a boostrap4 branch as the current repo makes use of bootstrap3 (I did a quick once over and there were only one or two CSS selectors that should/would need updating).

I would propose going a step further and creating a more accessible stylesheet than the current implementation. The grey backdrop doesn't meet the contrast ratio required for [WCAG 3](https:/

[2020-11-11 11:15] Pierre-Sassoulas opened #109 "Upgrade to bootstrap 4 and better meeting WCAG3 guidelines"
https://github.com/Pierre-Sassoulas/django-survey/issues/108#issuecomment-725352604

[2020-11-11 11:16] Pierre-Sassoulas commented on #108
Sure thing, let's do this in another pull request than polish translation, so I can merge polish and <br> first then ;)

I created https://github.com/Pierre-Sassoulas/django-survey/issues/109.

[2020-11-11 11:29] #108 closed

[2020-11-14 09:15] Pierre-Sassoulas commented on #105
Hi again, I tried to load the json dump but I had a problem with a new field called "ext" `django.core.exceptions.FieldDoesNotExist: Question has no field named 'ext'`, after removing all the "ext" I had another problem: `django.core.exceptions.ValidationError: ["Impossible answer '20-이상' should be in ['20% 이상|\\r\\n10% 이상～20% 미만|\\r\\n3% 이상～10% 미만|\\r\\n3% 미만|\\r\\n해당없음'] "]`. Look like the were

[2020-11-14 14:16] turbok2 commented on #105
Sorry, I modified some code. I also removed that code. ( ext) ^^;
next, It's Korean. So I change it to English. So you can use it now.
test1     http://110.8.206.17:8000/survey/15/
test2     http://110.8.206.17:8000/survey/16/

test1 is no problem. it has date field in last category.

but, test2 has some problem.
 because  that first category  has date field.

-------------------------------------

[2020-11-17 21:02] d-horner commented on #109
@Pierre-Sassoulas would you be open to including third-party css/js libraries from a CDN like cdnjs's one vs serving it locally? Typically increases performance and decreases bandwidth vs serving the static files from within the project - with browsers caching the latest libraries for such popular frameworks/libs. Obviously, users of the project can override the base templates regardless.

[2020-11-17 21:51] Pierre-Sassoulas commented on #109
I think it could become a setting option being opt-in, instead of the default, because the performance gain is not guaranteed and it could permit to inject malicious code. If creating the option is too much work, let's just make the override of the template easier.

[2020-11-19 07:01] a-wip0 commented on #105
@turbok2 sorry for out of topic question, how did you remove "Answer This Part" text? its always appear in my survey even if there is only i category or less used

[2020-11-22 03:57] turbok2 commented on #105
If you change some code in html file, you can control.
in survey/templates/survey/survey.html
line 48,  remove  'collapse'
line 39-46 remove all lines.

[2020-11-25 08:47] a-wip0 opened #112 "Merge type Radio and type Select in survey option and choose the display css programmatically"
I try both of them and they have the same purpose, `Pick just one of the option`. What if just remove one of them?
or are they have different purpose?

[2020-11-30 21:56] Pierre-Sassoulas commented on #112
Hello thank you for this question.

Theoretically, type select should permit to pick one in a very long list of options (imagine a gigantic list of item) while radio should be "select only one" only on a very small number of value. The differences is done by the creator of the survey that is supposed to know design.

Actually an enhancement would be to change this by "select one in multiple value"

[2020-12-04 17:43] dacitsme opened #113 "Does not save all the questions in the django admin when new survey is created"
_Django 1.11
Python 3.7.7_

Only the first 2 questions are saved and rest are ignored.
The workaround right now is to edit the survey and add the questions again.

[2020-12-04 21:20] Pierre-Sassoulas commented on #113
Hello thank you for the bug report. Can you gives more detail about they survey and the option it has so we can reproduce the problem?

[2020-12-05 04:30] dacitsme commented on #113
Hello!!

Configuration of the survey app (default)
![image](https://user-images.githubusercontent.com/21145073/101233701-aba11680-36df-11eb-90e2-98c9b37fb6ac.png)

Sample survey
![image](https://user-images.githubusercontent.com/21145073/101233262-7bf10f00-36dd-11eb-9bd2-6e2b833324f1.png)
And add any questions of your choice and make sure you use _Add another Question_ to add more questions.
It do

[2020-12-28 10:57] a-wip0 opened #114 "Upload file answer"
How to do this? if i want to make it

[2020-12-28 19:11] Pierre-Sassoulas commented on #114
I you want to save answers or upload answers you can use `dumpdata` and `loaddata`, it's documented in django here: https://docs.djangoproject.com/en/3.1/ref/django-admin/#dumpdata

If you want to do that as a user an API need to be created.

[2021-01-01 06:33] shrawanx opened #115 "'ImageSelectWidget' object has no attribute 'template_name'"
When trying to render i.e: survey detail page when the survey consist of a Question with type `select image` then i am getting this error `'ImageSelectWidget' object has no attribute 'template_name'`

Am i missing something or is this a bug ?

`

[2021-01-01 12:18] Pierre-Sassoulas commented on #115
It looks like a bug, apparently the `ImageSelectWidget` is not properly tested. After a quick check it seem `template_name` is local instead of being a class attribute. You could try moving this line : https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/widgets.py#L16 to an attribute of the class. I won't have time to fix this myself but I'll review and merge a pull request with a

[2021-01-04 04:37] shrawanx commented on #115
I had a quick patch with the solution you provided, but i am getting another error as `js/survey.js` not found.
This is from https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/widgets.py#L12

[2021-01-11 03:31] ebdavison commented on #113
I am experiencing the same issue and my workaround is to add one question and save. Then add another question and save. And so on until all questions are answered.

[2021-01-12 02:26] ebdavison opened #116 "Misleading error message"
When a survey has an expiration date, and a user tries to go to the survey link, the message displayed on the screen is:
[code]
And in the logs, the request is logged as a 404 error:
[code]

This is quite misleading and has led me down a rabbit hole for 4 days to try to track this down.  I was finally looking through the database directly with an SQL client and just happened to see the expire date

[2021-01-12 08:23] Pierre-Sassoulas commented on #116
Thank you for tracking this one. Sorry it was probably introduced in #75 did not thought of that during review.

The solution you give seems sensible, I'd merge it !

[2021-01-16 18:51] gjelsas opened #117 "When display_by_questuion is set True the last submit should be named differently"
When display_by_question is set to 'True', all the submit-buttons are equal. Maybe this could be changed to show to the user when the last view and the last submit is reached. Not critical, but a nice to have feature...

[2021-01-16 19:02] Pierre-Sassoulas commented on #117
Thanks for the suggestion, sounds sensible!

[2021-01-17 13:36] gjelsas commented on #113
I can't reproduce that. I just created some Surveys and I can add three and four questions of different types and save them all at once. No Problem here...
Python 3.8.5
Django 3.1.3

[2021-01-17 13:48] Pierre-Sassoulas commented on #113
Thanks @gjelsas. Maybe a problem with old version of Django then ? I'd advise to try updating to Django 2 or 3 if you encounter the problem.

[2021-01-19 14:16] gjelsas opened #118 "Styling not found"
I'm currently running the survey in a docker container behind a letsencrypt nginx proxy. Ssl works and the text is displayed. Whats missing is the styling of the website: spacing, the admin-panel, I guess all things css related... Any clues on that? Am I missing some setting?
I think this error is to blame: `"GET /static/survey/js/jquery.min.js HTTP/2.0" 404 2470 "`
Thanks for the work!

[2021-01-20 19:09] Pierre-Sassoulas commented on #118
It definitely sound like something to do with static files not accessible. Maybe not deployed properly with the command to collect them, or something to do with the server configuration not being able to access the directory. I was using apache myself, but nginx probably need some configuration too ?

By the way I never used this project inside a docker, if you can contribute the generic part of t

[2021-01-21 22:46] gjelsas commented on #118
So, my mistake was not giving proper instructions to the nginx reverse proxy docker container. I fixed that by adding
[code]

to the corresponding vhost-config file and mounting a folder containing the static files to  /static in that nginx proxy container.

Just a misconception on my behalf. Maybe it helps someone...

[2021-01-21 22:46] #118 closed

[2021-01-22 15:02] gjelsas commented on #118
for the admin-css stuff I had to copy `/usr/local/lib/python3.7/dist-packages/django/contrib/admin/static/` to that static folder mentioned above for the admin site...

[2021-01-22 15:04] Pierre-Sassoulas commented on #118
I owuld have thougth `collectstatic` would do that for you ? (https://docs.djangoproject.com/en/3.1/ref/contrib/staticfiles/#collectstatic)

[2021-01-22 15:41] gjelsas commented on #118
No it didn't. Actually  I extracted it from the container and copied it to the folder which gets mounted to the nginx-proxy container. I know, not a very clean approach, but does the job...

[2021-01-24 17:03] gjelsas opened #123 "Interdependencies between two answers"
If you had three Questions with Radio Answers from 0 to 3, it would be a nice feature to allow the sum of all three answers to be at most some value, lets say five in this example. So if you could not answer all three Questions with 2.
Another Example would be the distribution of skillpoints when creating a Character in a Role Playing Game...

[2021-02-01 17:15] gjelsas opened #124 "For a select_multiple question allow only a maximum number of answers."
I'm looking at your code an trying to implement a select_multiple question, where you could select, lets say, three out of four choices. Could you point me to where in the code that could be implemented? @Pierre-Sassoulas

[2021-02-02 08:36] Pierre-Sassoulas commented on #124
In model it's defined here: https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/models/question.py#L57
In form it's here: https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/forms.py#L24

It's probably possible to override the default class from Django :)

[2021-02-04 18:38] nvladimus opened #126 "Getting started: No module named 'survey' error"
Hi, everyone,
I am a beginner in Django, and would like to try the `survey` app. I followed instructions in `Getting started` (installed with pip, changed `settings.py` and `urls.py` in my project), but when I try to launch `python manage.py runserver`, I get the following errors:
[code]
My parent project runs fine without the `survey` app. I am using Python 3.6 and Django 3.0.8. Could anyone plea

[2021-02-04 19:01] Pierre-Sassoulas commented on #126
Hello, it look like the package is not installed or not found.  It looks like you're in an anaconda environment, the package is not available using conda forge, you need to use pip to install it. What output does the command `pip install django-survey-and-report` or `pip3 install django-survey-and-report` gives you ?

[2021-02-04 21:59] nvladimus commented on #126
Thanks for quick reply! It turned out I had `PyYAML` of older version which was causing conflict:
[code]
I ran `pip install --ignore-installed PyYAML` and then `pip install django-survey-and-report`, which did the job.
My project now launches successfully!
Another newbie question: how can I launch the `survey` app within my project? The `Getting started` does not suggest that I run any `python man

[2021-02-04 22:05] #126 closed

[2021-02-13 12:51] tiagolagrecap commented on #115
I got the same problem with trying to Select Image.

'ImageSelectWidget' object has no attribute 'template_name'

[2021-02-13 12:52] tiagolagrecap opened #127 "Error Select Image!"
I got the same problem with trying to Select Image.

'ImageSelectWidget' object has no attribute 'template_name'

Thanks.

[2021-02-13 12:58] Pierre-Sassoulas commented on #127
Closing as a duplicate of #115.

[2021-02-13 12:58] #127 closed

[2021-02-13 13:01] Pierre-Sassoulas commented on #115
Sorry @shrawanx I did not see your message. You can either remove the `js/survey.js` or create an empty one to be able to add our custom js there, both solution work. Thank you for taking time to troubleshoot this.

[2021-02-13 13:02] tiagolagrecap commented on #115
Hi,

anyone solved this problem?

'ImageSelectWidget' object has no attribute 'template_name'

Thanks!

[2021-02-17 13:47] tiagolagrecap commented on #115
Hi @shrawanx, i'm trying to fix this problem but it doesn't work, how did you fix it? can you help me?

'ImageSelectWidget' object has no attribute 'template_name'

Thanks.

[2021-02-18 04:45] shrawanx commented on #115
@tiagolagrecap
I am sorry i was quite busy with my work.
I solved the `'ImageSelectWidget' object has no attribute 'template_name'` with the help provided from @Pierre-Sassoulas
See: https://github.com/Pierre-Sassoulas/django-survey/issues/115#issuecomment-753309993
But still i couldn't get it work.

I will try to see it and work on it when i get some free time until then, please post your solutio

[2021-03-14 05:46] malep2007 commented on #105
Seems like when you try to change the way the questions are displayed from the default, "All questions in one page" to any other display settings of the survey, you get this error of the Date not being JSON serializable when you try to navigate to the next category/ question. My stack trace is as below.

[code]

[2021-03-15 03:38] turbok2 commented on #105
Right!! in other options except "All questions in one page", I got an error.
I hope to use "by category" .
If you find solution, let me know please.

[2021-03-25 09:20] yahya-abou-imran opened #130 "Creating survey from outside the admin site"
Hello!
I would to permit certain types of users (not staff) with some kinds of permissions to access a page where they can create surveys.
I think a section in the doc could be added to explain how to achieve that with the minimal amount of effort.
I was about to re-implement several views and forms, but I think there should be a simpler way to retrieve the admin views…

[2021-03-25 20:26] Pierre-Sassoulas commented on #130
Hello, I think this is doable by creating some custom right for users regarding Surveys. This is not specific to this app in fact:

Source: https://docs.djangoproject.com/fr/2.2/topics/auth/default/

[2021-03-25 20:26] #130 closed

[2021-03-27 14:12] #114 closed

[2021-04-01 02:51] a-wip0 opened #131 "New type question: Likert Scale"
is there a plan to add likert scale, i try to create it by displaying `RadioSelect` or `CheckboxSelectMultiple` horizontally but always fail

[2021-04-01 02:58] Pierre-Sassoulas commented on #131
Hello, I'm not planning on doing that, but I'll happily merge a pull request if I get one :)

[2021-04-01 04:36] maximloginov opened #132 "Questions with multiple short text answers"
I need to create a survey with question like "How many people of different ages work in your company?" with options to answer like follows (underscores mean text field entry):
18-25 ______
26-35 ______
35-45 ______
46 and older ______
As far as I see, there is no way to create such a question currently (please correct me if I'm wrong). If so I can try to implement such type of question myself (any

[2021-04-01 05:49] Pierre-Sassoulas commented on #132
It's possible to create 4 questions each with their own answer (`How many people between 18 and 25 yer old work in your company?`).

If you want to implement a new style of questions you can take ``SelectMultiple`` as an example:
In model it's defined here: https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/models/question.py#L57
In form it's here: https://github.com/Pierre-Sasso

[2021-04-01 11:52] tiagolagrecap opened #133 "Select Image"
Hi, im trying to use the option Select Image, but not working, i got this error.

'ImageSelectWidget' object has no attribute 'template_name'

Anyone can help me?
Thanks.

[2021-04-01 11:59] Pierre-Sassoulas commented on #133
Duplicate of #115

[2021-04-01 11:59] #133 closed

[2021-04-01 12:03] tiagolagrecap commented on #133
Closed, but still a not working.

tks.

[2021-04-01 12:07] Pierre-Sassoulas commented on #133
You can still participate in the other issue, ask questions showing what you did, open a merge request fixing the problem, open a bounty on issue hunt so someone else fix the problem...  Opening a duplicate ticket with less content is not going to help.

[2021-04-04 14:45] a-wip0 opened #134 "Question without category is duplicated, if you have question with category in the same survey"
admin view

![image](https://user-images.githubusercontent.com/33978908/113512455-f26c2380-958e-11eb-8e13-072b2077b8a3.png)

survey view

![image](https://user-images.githubusercontent.com/33978908/113512475-044dc680-958f-11eb-9213-94d81d8cec20.png)

[2021-04-04 15:24] Pierre-Sassoulas commented on #134
Thank you for reporting this issue !

[2021-05-18 06:18] susajsnair opened #138 "RecursionError: maximum recursion depth exceeded while calling a Python object"
Python 3.8.5
Django 3.1.4

![image](https://user-images.githubusercontent.com/31278089/118600511-b99aad80-b7ce-11eb-8241-59768e475f8d.png)

[2021-05-18 06:55] Pierre-Sassoulas commented on #138
Hello, thank you for opening the issue. Can you use text instead of image so we have the full stacktrace and it's searchable and readable by text to speech software ? :)

[2021-07-17 17:14] JohnGuyver117 opened #143 "Here a Dutch translation .po (nl) file"
Hi,

Love your work, so I contribute a django.po file in Dutch. I'm not a developer so I hope someone can put the file in the right place.
I also had to rename the .po extension to .txt so I could attach the file to this message.

Have a nice day.

Kind regards, John

[django.txt](https://github.com/Pierre-Sassoulas/django-survey/files/6835041/django.txt)

[2021-07-17 17:43] Pierre-Sassoulas commented on #143
Thank you for this, how do you want to be credited ? Is:

- [x] Dutch thanks to [John Guyver](https://github.com/JohnGuyver117)

Ok ?

[2021-07-17 17:50] #143 closed

[2021-07-17 18:07] Pierre-Sassoulas commented on #143
Your translation is released in 1.3.35 :)

[2021-07-17 20:34] JohnGuyver117 commented on #143
Credited as John Guyver is fine.

Thanks Pierre.

[2021-08-11 11:30] anthonyrandell commented on #115
I could get round the error following Pierre's advice.  To get past the render error you need to refer to the class attribute not to the local variable.

https://github.com/Pierre-Sassoulas/django-survey/blob/master/survey/widgets.py#L21

This renders a blank question however not sure how to configure this so doing some more digging.

[code]
`

[2021-10-04 01:36] rickabiz opened #153 "The random feature"
When I set question options to content it works fine but if I set the option as random or none it shows the error bellow in browser.

Cannot resolve keyword 'random' into field. Choices are: content, correct, id, question, question_id

[2021-10-04 12:13] rickabiz commented on #153
Thanks for replay... In mcq app admin

Your code

models.py

ANSWER_ORDER_OPTIONS = (
    ('content', 'Content'),
    # NOT WORKING('none', 'None'),
    #NOT WORKING('random', 'Random'),
)

class MCQQuestion(Question):

    answer_order = models.CharField(
        max_length=30, null=True, blank=True,
        choices=ANSWER_ORDER_OPTIONS,
        help_text="A ordem na qual escolha múltipla \

[2021-10-04 12:22] Pierre-Sassoulas commented on #153
Sorry I don't  think I understand the question, it seems it's about code unrelated to the survey app itself, it seems the code come from a modifed survey app called "mcq" ?

[2021-10-06 22:33] rickabiz commented on #153
upssss my mistake... This question was related to another app, my sincerely apologizes and thank you in have answered to me.

My question to you is if there is a way to the generate an output table of answers at the end only if the user has this  privilege on a group of users eg, administrators.

Best regards and I'm sorry my mistake again! :-)

[2021-10-17 20:21] #116 closed

[2021-11-02 10:05] CaduceusInc commented on #95
Hello, @BartKalkman were you able to get this working? I have the same error.

@Pierre-Sassoulas were you able to fix this?

[2021-11-02 13:10] Pierre-Sassoulas commented on #95
Hello @CaduceusInc , I'm not working on this project directly right now, I'm only reviewing and  merging fixes.

[2021-11-09 13:09] BartKalkman commented on #95
I ended up not using this package in the end because of change in requirements.

[2022-04-14 23:33] ronejercito commented on #138
Got the same issue. When I remove it from the urlpatterns, it stops.

[2022-04-15 04:28] ronejercito commented on #138
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    main()
  File "manage.py", line 18, in main
    execute_from_command_line(sys.argv)
  File "/home/ron/Projects/survey/survey_env/lib/python3.8/site-packages/django/core/management/__init__.py", line 446, in execute_from_command_line
    utility.execute()
  File "/home/ron/Projects/survey/survey_env/lib/python3.8/site-p

[2022-06-17 08:40] Aria-K-Alethia opened #169 "How to display questions randomly ?"
Hi,

Thank you for your code contribution!

I wonder if it is possible to display random questions for each subject.
That means I want to create a question pool with, say 10 questions, and for each subject, I want to select 5 questions randomly from the pool.

[2022-06-17 08:54] Pierre-Sassoulas commented on #169
There's nothing to do that right now but I think it's possible to add this behaviour on top of the app.

[2022-06-17 09:15] Aria-K-Alethia commented on #169
Thank you ! I wil try to customize the code.

[2022-06-17 09:15] #169 closed

[2022-08-09 07:34] HenryMehta commented on #105
Has there been any progress on this?  I have the same issue

[2022-08-18 22:36] zehengl commented on #95
Setting `STATICFILES_STORAGE = "whitenoise.storage.CompressedStaticFilesStorage"` seems to work for me. Not ideal, but it works. See http://whitenoise.evans.io/en/stable/django.html#add-compression-and-caching-support

[2022-08-19 17:32] Pierre-Sassoulas commented on #95
Thank you for the solution @zehengl, I'm going to close as it seems to be an issue with whitenoise and not django-survey-and-report.

[2022-08-19 17:32] #95 closed

[2022-08-21 18:11] VenturaFranklin commented on #95
This does seem to be an issue with django-survey-and-report.
Specifically the file at: https://github.com/Pierre-Sassoulas/django-survey/blob/main/survey/static/survey/css/bootstrap.min.css references files that do not exist at https://github.com/Pierre-Sassoulas/django-survey/tree/main/survey/static/survey/fonts

The folder should have these files: https://github.com/twbs/bootstrap/tree/v3.1.1/di

[2022-08-22 05:18] Pierre-Sassoulas commented on #95
Thank you for the analysis, would you mind adding these files in a merge request @VenturaFranklin ?

[2022-08-23 20:48] Pierre-Sassoulas commented on #105
I'm not developing anymore on this project, but I review and merge contributions :)

[2022-10-01 15:47] sotiriszogos commented on #9
Hello, I can add Greek language if you would like.

[2022-10-01 16:54] Pierre-Sassoulas commented on #9
That would be very nice @sotiriszogos !

[2022-10-27 15:34] maximloginov opened #175 "Questions groups or blocks"
I want to implement SF-36 Health Survey, some questions in this survey are grouped in blocks, for example, see questions 3-12 in
https://rand.org/health-care/surveys_tools/mos/36-item-short-form/survey-instrument.html
This group has a header and the same options for answers. Is it possible to implement this?

Basically, there are two questions:
1. How to make a group header? e.g "The following ite

[2022-10-27 15:42] Pierre-Sassoulas commented on #175
That would be a category to create in django admin

This would be a new feature.

[2022-10-27 16:56] maximloginov opened #176 "String 'None' is displayed if category description is empty"
Value `category.description` is not checked against `None` in the template https://github.com/Pierre-Sassoulas/django-survey/blob/09a7c271c823dea598d177c2c4c4db03b7abc5f0/survey/templates/survey/survey.html#L36
It would be nicer to have something like `{{category.description|default_if_none:""}}` there

(I would make a PR request, but I cannot test is easily)

[2022-10-27 16:58] maximloginov commented on #175
Also, category descrition does not support html tags like `<strong>` or `<em>` to emphasize some words in question...

[2022-10-27 17:39] Pierre-Sassoulas commented on #176
There's fixtures in the existing tests, you can add a null description and load the fixtures to check manually.

[2022-10-29 17:59] #176 closed

[2022-10-30 05:32] maximloginov commented on #175
If I try to implement this using https://github.com/Sinkler/django-radiogrid would you include the additional dependency to django-survey? The project seems to be well-maintained and compatible different python/django versions.

[2022-10-30 05:32] #134 closed

[2022-10-30 05:34] maximloginov commented on #175
btw the issue #123 may be relevant to this one, @gjelsas could you confirm?

[2022-10-30 05:38] Pierre-Sassoulas commented on #175
Sure, but let's make it an optional ``extra_require`` guarded with conditional in the code and documented in the readme. It's more work at first but I don't want / won't be able to deal with it if the dependency is not maintained anymore (and it seems like a small lib with less than 30 stars).

[2022-11-11 10:38] gjelsas commented on #175
Yes, Your suggestion would maybe be a way to implement that. Thanks!

[2022-11-11 10:39] gjelsas commented on #175
Yes, Your suggestion would maybe be a way to implement that. Thanks!